In [1]:
import pandas as pd
import numpy as np

In [3]:
frame = pd.DataFrame(np.arange(9).reshape(3,3),index=['a','c','d'],columns=['Ohio','Texas','California'])

In [5]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [6]:
frame['str_'] = ['efg','hij','klm']

In [7]:
frame

   Ohio  Texas  California str_
a     0      1           2  efg
c     3      4           5  hij
d     6      7           8  klm

In [8]:
# ------------------------------------------------------------------
# 1. 过滤
# 对于数字可以直接用算数表达式过滤
frame[frame['California'] == 2]

   Ohio  Texas  California str_
a     0      1           2  efg

In [9]:
frame[frame['California'] != 2]

   Ohio  Texas  California str_
c     3      4           5  hij
d     6      7           8  klm

In [11]:
# 对于字符串就无法用算数表达式
'ef' in frame['str_']

False

In [12]:
# 这时候可以使用lambda表达式和apply

frame[frame['str_'].apply(
    lambda x: 'ef' in x
)]

   Ohio  Texas  California str_
a     0      1           2  efg

In [13]:
frame[frame.apply(
    lambda x: 'ef' in x['str_'],
    axis=1
)]

   Ohio  Texas  California str_
a     0      1           2  efg

In [14]:
# --------------------------------------------------------
# 2.采样
number_df = pd.DataFrame(np.random.randn(100,100))
number_df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.592475,1.116430,-0.365319,0.457649,0.309431,-0.377373,-0.030262,-0.178664,-0.799780,-0.572798,...,1.114207,1.017182,-0.647558,0.437702,-0.042928,-0.815909,2.462817,-0.990057,-0.906549,0.081180
1,0.374501,0.958215,-1.259853,-0.979916,0.580493,-0.754620,-0.187125,0.780715,1.856776,0.599452,...,0.412913,-0.575744,1.100878,1.727154,0.491073,-2.234363,-0.228015,-0.749409,0.131566,-0.372485
2,0.033374,-0.566140,-1.255958,-0.557734,-0.053255,0.259498,-0.022783,-1.169992,-0.516334,1.823355,...,1.808705,-1.490600,0.224572,0.355221,0.224622,-1.766945,0.294125,-0.642200,-0.473550,-0.215373
3,1.197311,-1.141903,2.236230,0.417721,1.501165,0.168749,-0.840942,-1.336724,2.550984,-0.253064,...,0.437573,-2.078266,0.627899,-1.664520,0.498793,1.386447,-0.015501,-1.781114,-0.102016,0.110058
4,0.721615,0.192960,-1.058252,-0.830908,-0.413827,-0.863355,-1.219640,-0.017629,0.955085,-0.051665,...,0.185044,-0.761638,0.482006,-1.514325,0.528517,1.257965,-0.648677,-0.914091,-0.635842,0.936035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-2.320628,2.433841,0.943018,-0.924220,-1.143284,-0.876877,-1.661988,0.292613,-1.071087,1.041939,...,0.563357,1.330353,-0.804073,0.187088,-0.018751,-1.327312,-1.407521,-1.063719,0.461420,-1.241028
96,0.294399,0.546256,0.483033,-0.111188,1.544374,0.880997,-0.131782,-0.140631,-1.107127,-0.857627,...,-0.410781,0.158373,1.529110,0.666271,0.908982,1.276491,0.178273,-0.542475,1.110108,1.118216
97,-0.054529,0.688405,-0.705012,-0.498605,2.513077,-0.712891,-0.010800,0.167885,0.618646,-0.220361,...,-0.474595,0.554546,0.537072,0.154152,0.549853,0.328745,-0.292283,-0.602030,1.471590,-1.230554
98,-0.011315,0.709136,-0.544391,-0.825778,0.202579,1.600227,-1.066969,0.330918,0.065468,-0.065740,...,-0.520810,0.973809,3.197758,-0.330411,0.456259,0.102216,-2.174267,0.270920,-0.429209,-0.156559
99,0.079394,-0.440107,0.671444,1.494739,0.220473,0.649937,-0.173326,0.786920,2.290498,-0.477733,...,0.185817,-0.804866,1.191988,0.751708,-1.129703,-0.322912,-0.450994,1.928021,-0.092755,1.315909

In [15]:
# 如果要随机对DataFrame进行采样 使用sample方法
number_df.sample(frac=0.1, axis=0)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
55,1.844346,0.345371,-0.027995,-0.764912,-0.131724,-0.118413,-0.305034,-0.552774,1.043390,0.173123,...,-1.511429,0.823221,-0.161342,1.297861,-0.764219,-0.656983,0.065929,1.323957,-0.821286,-0.084589
57,-0.202423,-0.535999,-0.143389,0.726967,1.690629,0.865230,0.083456,-1.828339,0.092679,0.206647,...,-1.872062,1.178505,-0.093005,1.727256,-0.196621,-0.435872,0.657141,1.075974,0.664023,0.305387
98,-0.011315,0.709136,-0.544391,-0.825778,0.202579,1.600227,-1.066969,0.330918,0.065468,-0.065740,...,-0.520810,0.973809,3.197758,-0.330411,0.456259,0.102216,-2.174267,0.270920,-0.429209,-0.156559
39,0.597058,0.285007,-0.601165,-1.641454,0.015462,0.492969,-0.688019,-0.497421,0.393942,-1.827367,...,0.972155,-0.509758,0.006198,-0.190336,-0.407443,0.559900,-0.142347,1.054846,1.271676,0.605556
67,0.462434,0.344342,-0.208465,-0.484966,0.429794,1.048135,0.848390,-1.779916,-0.509349,-0.625839,...,-2.668795,0.532555,-0.165756,-1.167332,0.738440,-1.014010,-0.774219,-0.854717,-0.366367,0.508968
69,-0.217747,-0.079379,1.911492,-0.912604,-1.016827,-1.036741,1.180743,-0.594446,0.540378,0.444349,...,-0.674848,-0.917262,-0.303278,0.719336,1.458972,0.514777,1.356235,-0.451909,0.507931,-0.840738
87,0.341385,-0.092008,1.155676,-2.444333,-0.865228,2.128367,0.974288,-0.473150,0.861569,-1.536501,...,0.324230,-2.426955,-1.502367,-1.014481,0.337421,-1.223793,-0.883704,-1.758288,1.793420,-1.196281
31,-0.692457,1.309679,-1.173085,-0.188791,0.252568,-1.083750,-1.419837,-0.343871,0.622578,0.159465,...,1.422547,-1.551054,-1.978176,0.053775,-0.064264,-0.412242,-0.146288,1.081082,-1.627772,0.835775
93,1.422905,0.555795,1.196406,-0.136117,-1.026661,-0.446134,-0.862006,-0.874007,-1.614794,0.355529,...,0.673411,-1.950477,-0.784174,0.626375,0.210708,-1.011919,1.017601,-0.964186,-0.502459,0.332567
37,0.407466,0.249535,0.336391,0.398363,-0.108199,0.561968,-0.740905,-0.939970,-0.099463,1.321845,...,0.622672,-0.612598,-0.611493,-2.180741,-0.110460,-0.158036,0.732832,-0.752760,-1.621302,1.891906

In [16]:
number_df.sample(frac=0.1, axis=1)

,3,13,9,96,49,69,38,81,84,78
0,0.457649,-1.817999,-0.572798,2.462817,-0.945118,-0.535802,-0.424793,0.695045,1.094818,-1.149163
1,-0.979916,1.949848,0.599452,-0.228015,0.063248,1.156391,-1.182630,0.804145,0.041684,-0.262330
2,-0.557734,-0.497974,1.823355,0.294125,-0.079803,-0.039785,-0.037522,0.374986,0.823388,0.983451
3,0.417721,1.544599,-0.253064,-0.015501,0.568316,1.579480,0.589244,-0.340886,-1.051550,-0.993523
4,-0.830908,0.482157,-0.051665,-0.648677,-0.315540,1.702893,-0.814271,0.704275,-2.608809,-0.383608
...,...,...,...,...,...,...,...,...,...,...
95,-0.924220,-0.527748,1.041939,-1.407521,-0.373590,1.751417,1.674493,0.256920,-1.338365,0.520434
96,-0.111188,0.380104,-0.857627,0.178273,2.652913,-0.838672,1.170782,-1.515666,1.290780,-0.925972
97,-0.498605,-0.706648,-0.220361,-0.292283,-0.440695,0.988504,0.725962,-1.314445,-0.758894,-2.240100
98,-0.825778,-1.508147,-0.065740,-2.174267,-0.400549,-0.941218,-0.615498,-1.161675,-1.031132,-0.372420
99,1.494739,0.279768,-0.477733,-0.450994,-0.890162,0.319184,1.736897,0.487302,0.537984,0.393195

In [17]:
# -------------------------------------------------------
# 3.分箱

ages = [20,22,25,27,21,23,37,31,61,45,41,32]
#将离散值进行更加离散化，即区间化
bins = [18,25,35,60,100]
cat = pd.cut(ages,bins)
cat

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [18]:
# codes属性可以获得对应的分类值
print('code: ', cat.codes)
# category属性可以获得区间情况
print('category: ',cat.categories)

code:  [0 0 0 1 0 0 2 1 3 2 2 1]
category:  IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [20]:
data_bins = np.random.rand(20)

pd.cut(data_bins, 5)
# 如果仅提供分箱个数 那么就会按照最大最小值菊粉

[(0.00202, 0.19], (0.377, 0.564], (0.19, 0.377], (0.751, 0.938], (0.564, 0.751], ..., (0.751, 0.938], (0.00202, 0.19], (0.00202, 0.19], (0.751, 0.938], (0.377, 0.564]]
Length: 20
Categories (5, interval[float64]): [(0.00202, 0.19] < (0.19, 0.377] < (0.377, 0.564] < (0.564, 0.751] < (0.751, 0.938]]

In [21]:
# 使用value_counts方法可以对分箱个数进行统计 (就可以画直方图了)
pd.value_counts(cat)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [23]:
data_bins2 = np.random.rand(10)
# one-hot编码与分箱
pd.get_dummies(pd.cut(data_bins2,5))
#这样可以对原始数据分箱 并转化为one-hot向量 在对连续数据区间化的过程中很有用

,"(0.0473, 0.199]","(0.199, 0.35]","(0.35, 0.501]","(0.501, 0.651]","(0.651, 0.802]"
0,1,0,0,0,0
1,0,0,0,0,1
2,1,0,0,0,0
3,0,0,1,0,0
4,0,0,0,0,1
5,1,0,0,0,0
6,0,0,0,0,1
7,0,0,1,0,0
8,1,0,0,0,0
9,0,0,0,1,0