# 常用方法目录
## 过滤
算数表达式和apply方法

## 采样
sample方法

## 分箱
cut方法(qcut) (可以结合get_dummies)

## NaN值处理
np.isnan  np.isna

## get_loc获取索引位置方法

In [1]:
import pandas as pd
import numpy as np

In [2]:
frame = pd.DataFrame(np.arange(9).reshape(3,3),index=['a','c','d'],columns=['Ohio','Texas','California'])

In [3]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [4]:
frame['str_'] = ['efg','hij','klm']

In [5]:
frame

   Ohio  Texas  California str_
a     0      1           2  efg
c     3      4           5  hij
d     6      7           8  klm

## 过滤
1. 对于数字可以直接使用算数表达式进行过滤
2. 可以使用通用的lambda表达式+apply方法进行过滤

In [6]:
# 对于数字可以直接用算数表达式过滤
frame[frame['California'] == 2]

   Ohio  Texas  California str_
a     0      1           2  efg

In [7]:
frame[frame['California'] != 2]

   Ohio  Texas  California str_
c     3      4           5  hij
d     6      7           8  klm

In [8]:
# 对于字符串就无法用算数表达式
'ef' in frame['str_']

False

In [9]:
# 这时候可以使用lambda表达式和apply

frame[frame['str_'].apply(
    lambda x: 'ef' in x
)]

   Ohio  Texas  California str_
a     0      1           2  efg

In [10]:
frame[frame.apply(
    lambda x: 'ef' in x['str_'],
    axis=1
)]

   Ohio  Texas  California str_
a     0      1           2  efg

## 采样
sample方法

In [11]:
number_df = pd.DataFrame(np.random.randn(100,100))
number_df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.230603,0.834597,0.342913,0.031295,0.180457,-0.234097,-2.424245,-0.657908,-0.783054,-0.306815,...,-0.270778,1.819665,0.552151,1.835066,0.081447,0.528402,0.706339,-0.278140,-0.550446,-0.052469
1,0.163401,1.090600,0.334230,0.535558,-0.707782,-0.369553,-0.946494,1.520891,0.160030,0.575480,...,0.146462,-0.481962,0.063384,-0.739888,-1.468405,1.082837,0.946369,-0.629116,0.132687,1.799955
2,-0.807238,-0.717824,1.098300,0.068557,0.132801,0.779544,-0.491930,-0.417676,1.237036,-1.073530,...,0.473836,0.188107,1.160275,0.691953,0.057411,-0.527350,0.227627,0.929897,0.681418,-0.841656
3,-1.221739,0.935772,0.200589,1.420446,0.053898,-0.709178,0.784342,2.353937,0.986430,0.366745,...,-0.432109,-0.026906,-0.511103,0.845383,0.392055,-0.342742,-1.562208,0.472756,0.290593,0.835939
4,0.955098,0.765991,-0.586287,0.144951,0.256791,-0.211577,0.554379,1.369737,0.112440,0.210745,...,-0.550071,-0.763420,-0.595302,0.071002,0.003833,2.282112,0.440409,1.198650,0.325687,0.025607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.167286,0.099322,-0.551905,0.442787,-0.544264,-0.635809,-0.798185,-1.799258,0.059399,0.295239,...,-0.158882,-0.777087,-0.177983,-1.486383,-0.696964,-1.279347,1.764195,0.450988,1.241676,-0.111374
96,-0.304781,0.003339,-0.124213,0.222890,-0.918438,-0.676177,-0.609575,-1.556721,0.655440,0.699931,...,-1.728426,0.975492,1.924767,2.342392,-1.438476,0.795660,0.039168,-0.755796,-1.505568,-1.375809
97,-0.351984,0.786169,2.314066,-0.921971,-0.166078,0.804020,-1.330246,0.614154,0.258918,-0.987874,...,-0.264947,-0.391517,-0.444901,-1.201416,-1.614696,0.036384,-0.960932,0.158721,0.304547,0.042700
98,1.279924,1.139237,0.146228,-0.648773,-1.612138,-1.264511,-0.681285,1.627361,-0.593920,-0.736226,...,-1.889776,-1.790556,1.080232,-0.848579,-0.470515,-0.185066,1.671600,-0.471696,0.224416,-0.183031
99,1.342118,0.677055,-0.639745,-0.954846,0.735236,-0.445912,0.662663,0.905020,0.738582,-1.471868,...,1.627879,0.175337,-0.475043,-0.472035,1.758631,0.162996,-0.158254,0.818579,-2.175423,-0.906088

In [12]:
# 如果要随机对DataFrame进行采样 使用sample方法
number_df.sample(frac=0.1, axis=0)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
37,0.213867,-0.975121,-1.022436,-0.581143,-0.198402,-0.262624,0.635392,-2.100124,-0.054843,-0.124142,...,-0.448808,0.902449,-0.688617,-0.307368,-0.504129,0.692339,0.586088,0.791444,1.329516,0.381979
87,0.508701,1.072521,-0.082557,-1.568178,0.145693,-0.408259,-1.927558,-1.264961,-0.399815,-0.604275,...,0.416521,-0.897192,0.427035,-0.249143,-0.771870,-0.576288,0.111073,-1.632290,0.364362,2.949002
17,-0.419487,0.172825,1.518319,0.557477,0.918224,1.043988,-0.719260,-0.186141,-0.599051,0.248722,...,0.912194,0.770220,0.870718,-0.051336,0.388183,-0.713841,0.400403,0.705006,0.798790,0.795328
80,0.485315,-0.405395,0.000910,-0.272468,0.007203,0.347218,0.260274,0.253453,-1.343802,-0.895530,...,1.497272,-0.217252,-2.957755,-0.606792,-0.117288,0.461339,-1.137657,1.214248,-0.136968,1.365431
88,-0.628511,-1.435894,0.931709,-0.908225,2.111969,-0.939904,0.840360,-0.752054,-0.168032,-2.268546,...,0.696944,-0.333654,1.813297,1.026505,0.547482,0.754678,2.446868,-0.733116,-0.062919,0.197370
39,-1.278316,0.513887,2.023497,-0.770144,-2.157327,1.331252,-0.347183,0.535910,0.478922,0.836008,...,-0.174698,0.784491,-0.430512,1.697471,0.838463,-0.599331,0.479955,0.319820,-0.128433,0.686190
74,0.535268,0.019566,-0.845953,-0.534064,1.638032,-0.790555,-0.275041,-1.348774,-0.892939,0.693390,...,-1.861705,0.096005,0.718978,0.489483,-0.459586,1.503589,-0.162812,-0.524446,-1.768958,-0.423128
25,1.555453,0.201739,0.904958,0.189858,-0.259943,-1.470249,-0.198523,-0.700161,-0.116382,1.312323,...,-0.411346,0.900738,-0.139835,-1.454068,0.504108,1.130785,-0.573027,0.090214,-0.965501,0.343897
67,-0.166189,-0.771674,2.343186,0.322057,1.174963,0.550073,-0.773507,0.726758,-0.046104,-0.769975,...,0.104612,-0.902517,0.830230,-0.578186,1.147136,0.505680,-0.354200,-0.159909,-1.500922,-1.791022
16,0.175526,0.974333,-0.239212,0.546250,1.728483,-1.585161,0.341454,-0.329175,1.796325,-0.715293,...,-1.029369,0.707166,-0.506514,-0.315766,-0.202183,2.416330,1.103970,1.710554,0.488228,-0.630132

In [13]:
number_df.sample(frac=0.1, axis=1)

,98,97,67,42,81,61,38,70,72,74
0,-0.550446,-0.278140,-0.373093,-1.364747,-0.055888,0.354707,-0.053080,0.350260,-0.786006,-0.517959
1,0.132687,-0.629116,-0.267959,2.622948,-0.981975,0.000471,1.152590,-0.264254,-0.680803,0.886198
2,0.681418,0.929897,0.245252,0.194809,0.255818,-0.019940,-0.774081,0.757336,1.361084,-1.278708
3,0.290593,0.472756,0.230131,-0.173300,1.025948,1.302172,0.689763,-0.891532,-1.049288,0.322351
4,0.325687,1.198650,-1.021078,-0.904119,-0.440217,-1.077617,-0.899320,0.187257,-0.406594,-1.419121
...,...,...,...,...,...,...,...,...,...,...
95,1.241676,0.450988,-0.746286,0.430313,-0.629720,-0.899647,1.133420,-0.939252,0.093644,-1.522321
96,-1.505568,-0.755796,0.791250,-0.574320,0.453976,1.197835,-0.119270,-0.626947,0.074072,-0.105102
97,0.304547,0.158721,-0.253157,0.983700,-0.943887,1.285406,-1.735964,-0.706325,-0.219474,0.506533
98,0.224416,-0.471696,0.329887,-0.932034,0.825478,0.376310,-1.373260,-1.079513,0.263175,-1.069784
99,-2.175423,0.818579,0.790084,1.373847,-0.182328,0.117650,-0.848133,-0.548560,2.121396,0.098206

## 分享
1. 固定分箱 设定bins
2. 自适应分箱 qcut

In [14]:
ages = [20,22,25,27,21,23,37,31,61,45,41,32]
#将离散值进行更加离散化，即区间化
bins = [18,25,35,60,100]
cat = pd.cut(ages,bins)
cat

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [15]:
# codes属性可以获得对应的分类值
print('code: ', cat.codes)
# category属性可以获得区间情况
print('category: ',cat.categories)

code:  [0 0 0 1 0 0 2 1 3 2 2 1]
category:  IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [16]:
data_bins = np.random.rand(20)

pd.cut(data_bins, 5)
# 如果仅提供分箱个数 那么就会按照最大最小值菊粉

[(0.783, 0.961], (0.248, 0.426], (0.783, 0.961], (0.783, 0.961], (0.604, 0.783], ..., (0.604, 0.783], (0.0684, 0.248], (0.0684, 0.248], (0.604, 0.783], (0.426, 0.604]]
Length: 20
Categories (5, interval[float64]): [(0.0684, 0.248] < (0.248, 0.426] < (0.426, 0.604] < (0.604, 0.783] < (0.783, 0.961]]

In [17]:
# 使用value_counts方法可以对分箱个数进行统计 (就可以画直方图了)
pd.value_counts(cat)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

In [18]:
data_bins2 = np.random.rand(10)
# one-hot编码与分箱
pd.get_dummies(pd.cut(data_bins2,5))
#这样可以对原始数据分箱 并转化为one-hot向量 在对连续数据区间化的过程中很有用

,"(0.0342, 0.22]","(0.22, 0.405]","(0.405, 0.589]","(0.589, 0.774]","(0.774, 0.959]"
0,1,0,0,0,0
1,0,0,0,0,1
2,1,0,0,0,0
3,1,0,0,0,0
4,0,0,0,0,1
5,1,0,0,0,0
6,0,1,0,0,0
7,0,0,1,0,0
8,1,0,0,0,0
9,0,0,0,0,1

## NaN值的处理
1. pandas中的na和np.nan不同，甚至np.nan和np.nan的等于判断也是False；
2. pd.isna可以判断是否为NaN；
3. pd.isna().any()可以判断某列是否有nan
4. fillna方法来处理NaN值；

In [19]:
# -------------------------------------------------------
# 4.NaN值处理

# 在DataFrame中遇到NaN很正常 处理NaN的方法

In [36]:
test_for_nan = pd.DataFrame(np.random.randn(5,5))
test_for_nan

          0         1         2         3         4
0 -0.018293 -1.200357 -0.319466  2.641274  0.828005
1 -0.666931  1.023409 -1.986883 -0.548731 -0.394851
2  1.593285 -0.477018 -0.803859 -0.263111  0.119009
3  0.696954 -1.415269 -0.287635  0.773946 -0.125149
4 -0.084341  0.953830  0.368894 -0.813979 -0.709605

In [37]:
test_for_nan.iloc[2][2] = np.nan

In [33]:
the_nan = test_for_nan.iloc[2][2]

In [34]:
# 即便是np.nan直接判断也不相同 the_nan 和np,nan自然也不相等
print(np.nan == np.nan)
the_nan == np.nan

False

False

In [24]:
# 当需要检测时 使用np.isnan
np.isnan(the_nan)

True

In [38]:
# 当对DataFrame批量操作时 可以使用pd.isna
pd.isna(test_for_nan)

       0      1      2      3      4
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False   True  False  False
3  False  False  False  False  False
4  False  False  False  False  False

In [39]:
test_for_nan.isna().any()
# 可以获得某列是否有nan

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [26]:
# 用其进行过滤
test_for_nan[pd.isna(test_for_nan[2])]

          0         1   2       3         4
2  0.418941 -0.437199 NaN -0.2617 -0.349626

In [35]:
# 使用fillna进行替换
test_for_nan.fillna('0.0', inplace=True)
test_for_nan

          0         1         2         3         4
0  0.386705  1.740946 -0.167043  0.065908 -0.260793
1  1.259807 -1.297512 -0.476708 -0.431429  0.695003
2 -0.713533  0.664800       0.0 -1.109088  0.920453
3  0.179955 -0.004545   0.36354 -1.147992  0.550288
4  2.097021 -0.357472  1.462833  1.781074 -1.465377

## get_loc/iloc/loc等方法
1. get_loc可以作用在列和行商来获取索引位置；

In [27]:
# -------------------------------------------------------
# 5.get_loc方法

test_for_get_loc = pd.DataFrame(np.random.randn(3,3))
test_for_get_loc.columns = ['a','b','c']
test_for_get_loc

          a         b         c
0 -1.344769  0.503440  0.520011
1 -0.557821 -0.473207 -0.091789
2  0.878631  0.598788  0.130798

In [28]:
print('type of columns: ', type(test_for_get_loc.columns))
print('type of index: ', type(test_for_get_loc.index))

type of columns:  <class 'pandas.core.indexes.base.Index'>
type of index:  <class 'pandas.core.indexes.range.RangeIndex'>

In [29]:
test_for_get_loc.columns.get_loc('b')
# get_loc方法可以columns获取 索引位置

1

In [30]:
test_for_get_loc.index.get_loc(2)
# get_loc方法可以获取index的索引位置

2

## dtypes astype
1. 一个DataFrame对象的dtypes属性表明了其列的数据类型；
2. astype方法可以改变其数据类型 参数为一个dict

In [40]:
frame = pd.DataFrame([[1, 'a', 1.0],
                      [2, 'b', 2.0],
                      [3, 'c', 3.0]]
,index=['a','c','d'],columns=['int_num','str','float_num'])
frame

   int_num str  float_num
a        1   a        1.0
c        2   b        2.0
d        3   c        3.0

In [41]:
# 显示数据类型
frame.dtypes

int_num        int64
str           object
float_num    float64
dtype: object

In [42]:
frame = frame.astype({
    'int_num' : 'float'
})
frame

   int_num str  float_num
a      1.0   a        1.0
c      2.0   b        2.0
d      3.0   c        3.0