In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
rng = pd.date_range('3/9/2012 9:30',periods=6,freq='D')
ts = Series(np.random.randn(len(rng)),index=rng)
ts

2012-03-09 09:30:00    1.256125
2012-03-10 09:30:00   -0.142918
2012-03-11 09:30:00   -0.912470
2012-03-12 09:30:00    0.039898
2012-03-13 09:30:00   -0.688938
2012-03-14 09:30:00    0.876281
Freq: D, dtype: float64

In [3]:
print(ts.index.tz)

None

In [4]:
pd.date_range('3/9/2012 9:30',periods=6,freq='D',tz='UTC')
#使用tz字段就可以显示指定时区了

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [8]:
import pytz
for i in pytz.common_timezones:
    if 'Asia' in i:
        print(i)
#此方法能看到很多时区名称

Asia/Aden
Asia/Almaty
Asia/Amman
Asia/Anadyr
Asia/Aqtau
Asia/Aqtobe
Asia/Ashgabat
Asia/Atyrau
Asia/Baghdad
Asia/Bahrain
Asia/Baku
Asia/Bangkok
Asia/Barnaul
Asia/Beirut
Asia/Bishkek
Asia/Brunei
Asia/Chita
Asia/Choibalsan
Asia/Colombo
Asia/Damascus
Asia/Dhaka
Asia/Dili
Asia/Dubai
Asia/Dushanbe
Asia/Famagusta
Asia/Gaza
Asia/Hebron
Asia/Ho_Chi_Minh
Asia/Hong_Kong
Asia/Hovd
Asia/Irkutsk
Asia/Jakarta
Asia/Jayapura
Asia/Jerusalem
Asia/Kabul
Asia/Kamchatka
Asia/Karachi
Asia/Kathmandu
Asia/Khandyga
Asia/Kolkata
Asia/Krasnoyarsk
Asia/Kuala_Lumpur
Asia/Kuching
Asia/Kuwait
Asia/Macau
Asia/Magadan
Asia/Makassar
Asia/Manila
Asia/Muscat
Asia/Nicosia
Asia/Novokuznetsk
Asia/Novosibirsk
Asia/Omsk
Asia/Oral
Asia/Phnom_Penh
Asia/Pontianak
Asia/Pyongyang
Asia/Qatar
Asia/Qostanay
Asia/Qyzylorda
Asia/Riyadh
Asia/Sakhalin
Asia/Samarkand
Asia/Seoul
Asia/Shanghai
Asia/Singapore
Asia/Srednekolymsk
Asia/Taipei
Asia/Tashkent
Asia/Tbilisi
Asia/Tehran
Asia/Thimphu
Asia/Tokyo
Asia/Tomsk
Asia/Ulaanbaatar
Asia/Urumqi
Asia/Ust-Nera
Asia/Vientiane
Asia/Vladivostok
Asia/Yakutsk
Asia/Yangon
Asia/Yekaterinburg
Asia/Yerevan

In [10]:
ts_utc = ts.tz_localize('Asia/Shanghai')
ts_utc
#使用tz_localize可以进行本地化 显示定义时区名称

2012-03-09 09:30:00+08:00    1.256125
2012-03-10 09:30:00+08:00   -0.142918
2012-03-11 09:30:00+08:00   -0.912470
2012-03-12 09:30:00+08:00    0.039898
2012-03-13 09:30:00+08:00   -0.688938
2012-03-14 09:30:00+08:00    0.876281
dtype: float64

In [11]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq=None)

In [12]:
ts_utc.tz_convert('UTC')
#tz_convert可以进行时区转换

2012-03-09 01:30:00+00:00    1.256125
2012-03-10 01:30:00+00:00   -0.142918
2012-03-11 01:30:00+00:00   -0.912470
2012-03-12 01:30:00+00:00    0.039898
2012-03-13 01:30:00+00:00   -0.688938
2012-03-14 01:30:00+00:00    0.876281
dtype: float64

In [13]:
ts.index.tz_localize('UTC')
#tz_localize既是Series的方法也是DatetimeIndex的方法 很合理

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [15]:
stamp = pd.Timestamp('2021-02-05 10:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc
#同样地 tz_localize也作用于Timestamp对象上

Timestamp('2021-02-05 10:00:00+0000', tz='UTC')

In [18]:
print(ts.index.tz)

None

In [19]:
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts[2:].tz_localize('Europe/Moscow')
ts1

2012-03-09 09:30:00+00:00    1.256125
2012-03-10 09:30:00+00:00   -0.142918
2012-03-11 09:30:00+00:00   -0.912470
2012-03-12 09:30:00+00:00    0.039898
2012-03-13 09:30:00+00:00   -0.688938
2012-03-14 09:30:00+00:00    0.876281
dtype: float64

In [20]:
ts2

2012-03-11 09:30:00+04:00   -0.912470
2012-03-12 09:30:00+04:00    0.039898
2012-03-13 09:30:00+04:00   -0.688938
2012-03-14 09:30:00+04:00    0.876281
dtype: float64

In [23]:
result = ts1+ts2
result.index
#不同时区间进行操作的结果对象会转化为‘UTC’时间

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 05:30:00+00:00', '2012-03-11 09:30:00+00:00',
               '2012-03-12 05:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 05:30:00+00:00', '2012-03-13 09:30:00+00:00',
               '2012-03-14 05:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

In [24]:
p = pd.Period(2007,freq='A-DEC')
p
#period表示的是时间区间
#p代表的就是2007.1.1 - 2007.12.31

Period('2007', 'A-DEC')

In [25]:
p-2

Period('2005', 'A-DEC')

In [26]:
p+3
#可以直接对p进行算数操作就可以进行位移

Period('2010', 'A-DEC')

In [27]:
pd.Period('2014',freq='A-DEC') - p
#同样freq的Period对象之间可以直接加减

In [29]:
values = ['2001Q3','2002Q2','2003Q1']
index = pd.PeriodIndex(values,freq='Q-DEC')
index
#同样可以接受string对象

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [30]:
p

Period('2007', 'A-DEC')

In [31]:
p.asfreq('M',how='start')
#使用asfreq可以将其转化为别的频率 how可以确定其位置

Period('2007-01', 'M')

In [32]:
p.asfreq('M',how='end')

Period('2007-12', 'M')

In [ ]:
#以季度为period是很常见的（我就没见过）
#有不同的季度结束含义 Q-JAN就是以一月为一个结束季度的
#Q-DEC就是以12月为一个结束季度的 以此类推有12中

In [34]:
p1 = pd.Period('2020Q4',freq='Q-JAN')
p1
#这代表什么呢 代表2020年的第四季度 由于以一月为一年的结束
#所以第四季度是什么呢 是11 12 1月

Period('2020Q4', 'Q-JAN')

In [35]:
p1.asfreq('D',how='start')
#所以取start就是11-01

Period('2019-11-01', 'D')

In [36]:
p1.asfreq('D',how='end')
#end就是1-31

Period('2020-01-31', 'D')

In [37]:
#Timestamp和Period之间的相互转换

In [38]:
rng1 = pd.date_range('1/1/2000',periods=3,freq='M')
rng1

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31'], dtype='datetime64[ns]', freq='M')

In [39]:
ts3 = Series(np.random.randn(3),index=rng1)
ts3

2000-01-31    0.329970
2000-02-29   -0.023916
2000-03-31   -0.146455
Freq: M, dtype: float64

In [41]:
pts = ts3.to_period()
pts
#to_period可以将时间戳（这是一个点时间）归为一个时间区间（一个段时间）

2000-01    0.329970
2000-02   -0.023916
2000-03   -0.146455
Freq: M, dtype: float64

In [42]:
rng2 = pd.date_range('1/29/2000',periods=6,freq='D')
ts4 = Series(np.random.randn(6),index=rng2)
ts4

2000-01-29    0.253309
2000-01-30   -1.463753
2000-01-31   -0.485614
2000-02-01   -0.195573
2000-02-02   -1.026283
2000-02-03    0.294037
Freq: D, dtype: float64

In [43]:
ts4.to_period('M')
#可以带参数 按月进行转化

2000-01    0.253309
2000-01   -1.463753
2000-01   -0.485614
2000-02   -0.195573
2000-02   -1.026283
2000-02    0.294037
Freq: M, dtype: float64

In [44]:
pts.to_timestamp(how='end')
#to_timestamp可以将时间区间（这是一个段时间）归为一个时间戳（一个点时间）
#但是得有how 否则不知道取哪个时间节点

2000-01-31 23:59:59.999999999    0.329970
2000-02-29 23:59:59.999999999   -0.023916
2000-03-31 23:59:59.999999999   -0.146455
dtype: float64

In [45]:
data = pd.read_csv('../examples/macrodata.csv')
data

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,2008.0,3.0,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33
199,2008.0,4.0,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91
200,2009.0,1.0,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71
201,2009.0,2.0,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19
202,2009.0,3.0,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44

In [48]:
print(type(data.year))
data.year

<class 'pandas.core.series.Series'>

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
        ...
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

In [49]:
index1 = pd.PeriodIndex(year=data.year,quarter=data.quarter,freq='Q-DEC')
index1
#这种方法可以合并

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [50]:
data.index=index1
data

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
1959Q1,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1959Q2,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
1959Q3,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
1959Q4,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
1960Q1,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008Q3,2008.0,3.0,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33
2008Q4,2008.0,4.0,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91
2009Q1,2009.0,1.0,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71
2009Q2,2009.0,2.0,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19
2009Q3,2009.0,3.0,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44

In [51]:
print('####################################')
#重采样 resampling

####################################

In [ ]:
#重采样是将一个时间序列从一个频率转化为另一个频率的过程
#将高频率聚合到低频率叫降采样（downsampling）
#将低频率转换到高频率叫上采样（upsamping）

In [52]:
rng3 = pd.date_range('1/1/2000',periods=100,freq='D')
ts = Series(np.random.randn(len(rng3)),index=rng3)
ts

2000-01-01   -1.838393
2000-01-02   -1.908840
2000-01-03   -0.023797
2000-01-04    1.600862
2000-01-05    0.340717
                ...
2000-04-05    0.037260
2000-04-06    0.820821
2000-04-07   -0.295522
2000-04-08    0.091699
2000-04-09   -0.653901
Freq: D, Length: 100, dtype: float64

In [54]:
ts.resample('M',kind='period').mean()
#freq代表重采样的频率 按月分组
#kind = 'period' 'timestamp'表示聚合到时间段还是时间戳
#之后是一个聚合对象 需要使用方法mean()

2000-01    0.091160
2000-02    0.074090
2000-03   -0.135351
2000-04   -0.465096
Freq: M, dtype: float64

In [ ]:
#降采样时要注意两个东西：
#1.区间哪边是闭合的 是左闭右开还是左开右闭
#2.如何标记各个聚合面元，用区间的开头还是末尾

In [55]:
rng4 = pd.date_range('1/1/2000',periods=12,freq='T')
ts5 = Series(np.arange(12),index=rng4)
ts5

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [58]:
#要按五分钟一聚合
ts5.resample('5min').sum()
#什么参数都不加 是使用左区间做label然后左闭右开的

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int32

In [59]:
ts5.resample('5min',closed='right').sum()
#这就变成左开右闭了

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [61]:
ts5.resample('5min',closed='left',label='right').sum()
#这时是左闭右开 但是label选择的是右边

2000-01-01 00:05:00    10
2000-01-01 00:10:00    35
2000-01-01 00:15:00    21
Freq: 5T, dtype: int32

In [63]:
#通过groupby进行重采样
rng3

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
               '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20',
               '2000-01-21', '2000-01-22', '2000-01-23', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03', '2000-02-04', '2000-02-05',
               '2000-02-06', '2000-02-07', '2000-02-08', '2000-02-09',
               '2000-02-10', '2000-02-11', '2000-02-12', '2000-02-13',
               '2000-02-14', '2000-02-15', '2000-02-16', '2000-02-17',
               '2000-02-18', '2000-02-19', '2000-02-20', '2000-02-21',
               '2000-02-22', '2000-02-23', '2000-02-24', '2000-02-25',
               '2000-02-26', '2000-02-27', '2000-02-28', '2000-02-29',
               '2000-03-01', '2000-03-02', '2000-03-03', '2000-03-04',
               '2000-03-05', '2000-03-06', '2000-03-07', '2000-03-08',
               '2000-03-09', '2000-03-10', '2000-03-11', '2000-03-12',
               '2000-03-13', '2000-03-14', '2000-03-15', '2000-03-16',
               '2000-03-17', '2000-03-18', '2000-03-19', '2000-03-20',
               '2000-03-21', '2000-03-22', '2000-03-23', '2000-03-24',
               '2000-03-25', '2000-03-26', '2000-03-27', '2000-03-28',
               '2000-03-29', '2000-03-30', '2000-03-31', '2000-04-01',
               '2000-04-02', '2000-04-03', '2000-04-04', '2000-04-05',
               '2000-04-06', '2000-04-07', '2000-04-08', '2000-04-09'],
              dtype='datetime64[ns]', freq='D')

In [67]:
ts

2000-01-01   -1.838393
2000-01-02   -1.908840
2000-01-03   -0.023797
2000-01-04    1.600862
2000-01-05    0.340717
                ...
2000-04-05    0.037260
2000-04-06    0.820821
2000-04-07   -0.295522
2000-04-08    0.091699
2000-04-09   -0.653901
Freq: D, Length: 100, dtype: float64

In [68]:
ts.groupby(lambda x:x.month).size()

1    31
2    29
3    31
4     9
dtype: int64

In [69]:
ts.groupby(lambda x:x.weekday).mean()
#这些也都是groupby对index进行操作 只是此时的index是timestamp有month等属性

0    0.006108
1    0.066963
2   -0.025014
3   -0.211419
4    0.236919
5    0.004368
6   -0.300166
dtype: float64

In [70]:
#上采样和插值
frame = DataFrame(np.random.randn(2,4),
                  index=pd.date_range('1/1/2000',periods=2,freq='W-WED'),
                  columns=['Colorado','Texas','New York','Ohio'])
frame

            Colorado     Texas  New York      Ohio
2000-01-05 -0.001930  0.920754 -2.396715 -0.433294
2000-01-12  1.296038  0.002174  0.928239 -1.745287

In [72]:
df_daily = frame.resample('D')
df_daily.size()
#此时进行插值了 中间的所有值都是NaN

2000-01-05    1
2000-01-06    0
2000-01-07    0
2000-01-08    0
2000-01-09    0
2000-01-10    0
2000-01-11    0
2000-01-12    1
Freq: D, dtype: int64

In [82]:
frame.resample('D').ffill()

            Colorado     Texas  New York      Ohio
2000-01-05 -0.001930  0.920754 -2.396715 -0.433294
2000-01-06 -0.001930  0.920754 -2.396715 -0.433294
2000-01-07 -0.001930  0.920754 -2.396715 -0.433294
2000-01-08 -0.001930  0.920754 -2.396715 -0.433294
2000-01-09 -0.001930  0.920754 -2.396715 -0.433294
2000-01-10 -0.001930  0.920754 -2.396715 -0.433294
2000-01-11 -0.001930  0.920754 -2.396715 -0.433294
2000-01-12  1.296038  0.002174  0.928239 -1.745287

In [83]:
frame.resample('W-THU').ffill()
#使用别的方法重采样

            Colorado     Texas  New York      Ohio
2000-01-06 -0.001930  0.920754 -2.396715 -0.433294
2000-01-13  1.296038  0.002174  0.928239 -1.745287

In [85]:
frame1 = DataFrame(np.random.randn(24,4),
                  index=pd.date_range('1-2000','1-2002',freq='M'),
                  columns=['Colorado','Texas','New York','Ohio'])
frame1

            Colorado     Texas  New York      Ohio
2000-01-31  1.243864 -1.128100  0.302022  0.717727
2000-02-29 -1.209660  0.776843  0.960600  1.646134
2000-03-31 -0.018567  0.436008 -1.016175 -0.929041
2000-04-30 -0.258113  0.041217  1.254814 -0.141053
2000-05-31 -0.005082 -0.637700  2.183523  0.585564
2000-06-30  1.462795 -0.926031 -0.246936  0.390944
2000-07-31 -0.437697 -0.115602  0.319162  1.049844
2000-08-31 -0.131674  0.209766  0.267748  0.529269
2000-09-30  0.369199 -0.583159 -0.904258  0.424673
2000-10-31 -1.396068  1.038843 -0.684201 -0.474342
2000-11-30  0.854758  1.181101  0.417781 -0.253227
2000-12-31  0.884813  1.050109  1.600436  2.979538
2001-01-31  0.310648  1.843493  0.404394 -1.857233
2001-02-28 -0.139724 -0.000930  0.782193  0.813672
2001-03-31 -0.967831  1.451535 -1.227027 -0.243358
2001-04-30  1.544485 -0.872127 -0.643492  1.076359
2001-05-31  0.247087  0.057159  1.198217  0.551477
2001-06-30  1.555543 -1.002173 -1.423303 -0.189341
2001-07-31  0.156716 -0.311388 -0.923091 -0.931440
2001-08-31 -0.654576  1.743651  0.813531 -1.198795
2001-09-30 -0.764590 -0.870684  0.871098 -1.060585
2001-10-31 -2.180737 -1.367159  0.370201 -0.934992
2001-11-30 -0.181159 -0.282971 -1.369047  0.715725
2001-12-31  0.095384  1.032941  0.796133 -1.116055

In [87]:
annual_frame1 = frame1.resample('A-DEC').mean()
annual_frame1
#按照年进行降采样

            Colorado     Texas  New York      Ohio
2000-12-31  0.113214  0.111941  0.371210  0.543836
2001-12-31 -0.081563  0.118446 -0.029183 -0.364547

In [88]:
annual_frame1.resample('Q-DEC').ffill()
#上采样同样的要确定如何把段时间变为时间戳 默认是使用end

            Colorado     Texas  New York      Ohio
2000-12-31  0.113214  0.111941  0.371210  0.543836
2001-03-31  0.113214  0.111941  0.371210  0.543836
2001-06-30  0.113214  0.111941  0.371210  0.543836
2001-09-30  0.113214  0.111941  0.371210  0.543836
2001-12-31 -0.081563  0.118446 -0.029183 -0.364547

In [92]:
annual_frame1.resample('Q-DEC',convention='start').ffill()

            Colorado     Texas  New York      Ohio
2000-12-31  0.113214  0.111941  0.371210  0.543836
2001-03-31  0.113214  0.111941  0.371210  0.543836
2001-06-30  0.113214  0.111941  0.371210  0.543836
2001-09-30  0.113214  0.111941  0.371210  0.543836
2001-12-31 -0.081563  0.118446 -0.029183 -0.364547