In [1]:
from datetime import datetime
from datetime import timedelta
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [2]:
now = datetime.now()
print(now)
#获取当前时间

2021-02-05 09:23:00.884983

In [3]:
print(type(now))
now.year,now.month,now.day
#datetime对象有很多属性

<class 'datetime.datetime'>

(2021, 2, 5)

In [4]:
print(datetime(2021,2,4))
#datetime本身带构造函数
delta = datetime(2021,2,4) - datetime(2008,8,8,15)
delta
#而两个datetime对象相减的结果则成了一个新对象timedelta对象

2021-02-04 00:00:00

datetime.timedelta(days=4562, seconds=32400)

In [5]:
delta.seconds,delta.days

(32400, 4562)

In [6]:
start = datetime(2021,2,4)
start+timedelta(days=12)

datetime.datetime(2021, 2, 16, 0, 0)

In [7]:
start - timedelta(seconds=3600)
#datetime对象可以和timedelta对象进行运算 得到的是datetime对象

datetime.datetime(2021, 2, 3, 23, 0)

In [8]:
stamp = datetime(2021,2,4)
str(stamp)
#将datetime转为string类型

'2021-02-04 00:00:00'

In [9]:
stamp.strftime('%Y-%m-%d')
#使用strftime可以指定转为string时的格式

'2021-02-04'

In [10]:
value = '2021-02-04'
datetime.strptime(value,'%Y-%m-%d')
#使用对应的strptime可以将string转化为datetime形式 同样可以指定格式

datetime.datetime(2021, 2, 4, 0, 0)

In [11]:
datestrs = ['7/6/2011','8/6/2011']
[datetime.strptime(datestr,'%m/%d/%Y') for datestr in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [12]:
from dateutil.parser import parse

parse('2011-01-3')
#使用parse方法可以将string转为datetime对象

datetime.datetime(2011, 1, 3, 0, 0)

In [13]:
parse('Jan 31, 1997 10:45 PM')
#很厉害

datetime.datetime(1997, 1, 31, 22, 45)

In [14]:
print(parse('6/12/2021'))
parse('6/12/2021',dayfirst=True)
#默认是m/d/y 如果要d/m/y 使用dayfirst参数

2021-06-12 00:00:00

datetime.datetime(2021, 12, 6, 0, 0)

In [15]:
datestrs

['7/6/2011', '8/6/2011']

In [16]:
pd.to_datetime(datestrs)
#使用pandas的to_datetime可以转化日期

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [17]:
pd.to_datetime(value)
#单个值转化为Timestamp对象 数组值就转化为Index对象

Timestamp('2021-02-04 00:00:00')

In [18]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [19]:
idx[2]
#NaT是pandas中时间戳的Na值

NaT

In [20]:
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),
         datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12),]
ts  = Series(np.random.randn(6),index=dates)
ts

2011-01-02    0.394293
2011-01-05    1.225269
2011-01-07   -0.858724
2011-01-08   -1.488710
2011-01-10   -1.612990
2011-01-12   -0.402236
dtype: float64

In [21]:
print(type(ts))
print(ts.index)
print(type(ts.index))
#ts仍然是一个Series 但是它的index则是一个DateTimeIndex对象 区别于普通的Series

<class 'pandas.core.series.Series'>
DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [22]:
ts + ts[::2]
#算数运算之间也会自动对齐

2011-01-02    0.788586
2011-01-05         NaN
2011-01-07   -1.717448
2011-01-08         NaN
2011-01-10   -3.225980
2011-01-12         NaN
dtype: float64

In [23]:
print(ts.index)
print(ts.index.dtype)
#使用的是datetime64 纳秒的形式存储index 这是一个Numpy中的数据结构

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)
datetime64[ns]

In [24]:
stamp1 = ts.index[0]
stamp1
#DateTimeIndex对象中的每个子元素都是一个Timestamp对象

Timestamp('2011-01-02 00:00:00')

In [25]:
ts[stamp1]
#使用Timestamp对象可以对Series进行索引取值

0.39429276789665557

In [26]:
ts[0]

0.39429276789665557

In [27]:
ts['20110102']

0.39429276789665557

In [28]:
ts['01/02/2011']

0.39429276789665557

In [29]:
longer_ts = Series(np.random.randn(1000),index=pd.date_range('1/1/2010',periods=1000))
longer_ts

2010-01-01    0.914236
2010-01-02    0.630194
2010-01-03   -1.447144
2010-01-04   -0.407198
2010-01-05    2.248099
                ...
2012-09-22   -0.074791
2012-09-23    0.136959
2012-09-24    1.281891
2012-09-25    0.027012
2012-09-26    0.509966
Freq: D, Length: 1000, dtype: float64

In [30]:
#对于很长的时间序列 使用‘年’或者‘年月’即可获取切片
longer_ts['2011']

2011-01-01    1.125001
2011-01-02    0.810188
2011-01-03    1.271429
2011-01-04   -1.046539
2011-01-05    0.138599
                ...
2011-12-27    0.830053
2011-12-28    0.492061
2011-12-29    0.067541
2011-12-30    0.697585
2011-12-31   -2.357960
Freq: D, Length: 365, dtype: float64

In [31]:
longer_ts['2011-05']

2011-05-01   -0.063732
2011-05-02    0.674628
2011-05-03    1.324149
2011-05-04   -1.065525
2011-05-05   -2.515714
2011-05-06    0.328725
2011-05-07    0.263798
2011-05-08    0.757987
2011-05-09    0.342517
2011-05-10    2.392286
2011-05-11    0.711495
2011-05-12    0.395396
2011-05-13    1.205867
2011-05-14   -2.134629
2011-05-15    0.587824
2011-05-16   -0.296717
2011-05-17    0.332373
2011-05-18    0.292045
2011-05-19    0.571535
2011-05-20   -0.773385
2011-05-21   -0.699932
2011-05-22    1.369739
2011-05-23   -0.568941
2011-05-24   -0.076970
2011-05-25   -0.387887
2011-05-26   -0.352680
2011-05-27   -0.246457
2011-05-28   -0.187670
2011-05-29   -0.113193
2011-05-30   -0.145091
2011-05-31    0.433247
Freq: D, dtype: float64

In [32]:
#由于时间序列大部分是连续的 所以可以通过区间的方式进行获取
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.858724
2011-01-08   -1.488710
2011-01-10   -1.612990
dtype: float64

In [33]:
ts.truncate(after='1/9/2011')
#truncate也是取切片的方法

2011-01-02    0.394293
2011-01-05    1.225269
2011-01-07   -0.858724
2011-01-08   -1.488710
dtype: float64

In [34]:
dates1 = pd.date_range('1/1/2000',periods=100,freq='W-WED')
dates1

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [35]:
long_df = DataFrame(np.random.randn(100,4),index=dates1,
                    columns=['Colorado','Texas','New York','Ohio'])
long_df

            Colorado     Texas  New York      Ohio
2000-01-05  1.356248  1.722341  0.423231  0.832586
2000-01-12  0.428349 -0.902698 -0.441989  0.635549
2000-01-19  0.523606  0.034864 -1.359126  0.070495
2000-01-26  0.516829  1.519825 -0.043540 -0.362029
2000-02-02  0.431812 -1.838147 -1.308289  1.609227
...              ...       ...       ...       ...
2001-10-31  0.090207  0.949428 -0.103589 -2.046553
2001-11-07  0.739487 -0.620697 -0.608029  0.532953
2001-11-14 -1.022388 -0.152626 -0.558607 -0.894825
2001-11-21  0.395392 -0.460626  0.187960 -0.763305
2001-11-28 -0.525237  0.954801 -1.249899 -0.093038

[100 rows x 4 columns]

In [36]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.814283 -0.056575 -0.219672  0.279914
2001-05-09  0.400127 -1.593980  0.355180  1.144372
2001-05-16 -0.493592 -0.013304 -1.177861  1.039918
2001-05-23 -2.388311  0.687746 -0.128779  0.909334
2001-05-30 -0.932333  0.263012 -1.235444  1.292049

In [37]:
dates2 = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/3/2000'])
dup_ts = Series(np.arange(5),index=dates2)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [38]:
dup_ts.index.is_unique
#index有重复不是唯一

False

In [39]:
dup_ts['1/3/2000']

4

In [40]:
dup_ts['1/2/2000']
#得到的还是一个Series

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [41]:
grouped = dup_ts.groupby(level=0) #当要按照index进行groupby且不加任何改变的话 需要加入参数level=0
grouped.size()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [42]:
ts
#由于ts是不规则的 不是连续的 如果要处理这种数据变为连续

2011-01-02    0.394293
2011-01-05    1.225269
2011-01-07   -0.858724
2011-01-08   -1.488710
2011-01-10   -1.612990
2011-01-12   -0.402236
dtype: float64

In [43]:
print(ts.resample('D'))
ts1 = ts.resample('D')
ts1.size()
#这是一个按照D天进行重采样的样例 可是输出不出来...

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, origin=start_day]

2011-01-02    1
2011-01-03    0
2011-01-04    0
2011-01-05    1
2011-01-06    0
2011-01-07    1
2011-01-08    1
2011-01-09    0
2011-01-10    1
2011-01-11    0
2011-01-12    1
Freq: D, dtype: int64

In [44]:
index = pd.date_range('4/1/2012','6/1/2012')
index
#使用date_range方法可以轻松地生成日期范围序列 默认是以D模式即按照天来进行生成的

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [45]:
pd.date_range('4/1/2021',periods=20)
#可以使用periods确定从开始往后生成的个数

DatetimeIndex(['2021-04-01', '2021-04-02', '2021-04-03', '2021-04-04',
               '2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08',
               '2021-04-09', '2021-04-10', '2021-04-11', '2021-04-12',
               '2021-04-13', '2021-04-14', '2021-04-15', '2021-04-16',
               '2021-04-17', '2021-04-18', '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', freq='D')

In [46]:
pd.date_range(end='6/1/2021',periods=20)
#道理同上

DatetimeIndex(['2021-05-13', '2021-05-14', '2021-05-15', '2021-05-16',
               '2021-05-17', '2021-05-18', '2021-05-19', '2021-05-20',
               '2021-05-21', '2021-05-22', '2021-05-23', '2021-05-24',
               '2021-05-25', '2021-05-26', '2021-05-27', '2021-05-28',
               '2021-05-29', '2021-05-30', '2021-05-31', '2021-06-01'],
              dtype='datetime64[ns]', freq='D')

In [47]:
pd.date_range('1/1/2020','12/1/2020',freq='BM')
#有很多模式 BM模式是bussiness end of month 表示一个月的最后一个工作日

DatetimeIndex(['2020-01-31', '2020-02-28', '2020-03-31', '2020-04-30',
               '2020-05-29', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-30', '2020-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [48]:
pd.date_range('5/2/2020 16:34:25',periods=5)
#会默认保留其他的部分时间信息

DatetimeIndex(['2020-05-02 16:34:25', '2020-05-03 16:34:25',
               '2020-05-04 16:34:25', '2020-05-05 16:34:25',
               '2020-05-06 16:34:25'],
              dtype='datetime64[ns]', freq='D')

In [49]:
pd.date_range('5/2/2020 16:34:25',periods=5,normalize=True)
#normalize可以进行规范化

DatetimeIndex(['2020-05-02', '2020-05-03', '2020-05-04', '2020-05-05',
               '2020-05-06'],
              dtype='datetime64[ns]', freq='D')

In [50]:
#之前几乎所有的频率都是按照'D' 即每天为单位进行的
#来看看这种模式 这些都是偏移量对象offset

In [51]:
from pandas.tseries.offsets import Hour,Minute
#偏移量对象 Hour Minute
hour = Hour()
hour
#这是一个1 Hour类型的对象

In [52]:
four_hour = Hour(4)
four_hour

In [53]:
pd.date_range('1/1/2020','1/3/2020',freq='4H')
#使用H代表一小时 4H就代表四个小时

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 04:00:00',
               '2020-01-01 08:00:00', '2020-01-01 12:00:00',
               '2020-01-01 16:00:00', '2020-01-01 20:00:00',
               '2020-01-02 00:00:00', '2020-01-02 04:00:00',
               '2020-01-02 08:00:00', '2020-01-02 12:00:00',
               '2020-01-02 16:00:00', '2020-01-02 20:00:00',
               '2020-01-03 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [54]:
Hour(2) +Minute(30)

In [55]:
pd.date_range('1/1/2020',periods=10,freq='1h30min')
#挺离谱的说实话

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:30:00',
               '2020-01-01 03:00:00', '2020-01-01 04:30:00',
               '2020-01-01 06:00:00', '2020-01-01 07:30:00',
               '2020-01-01 09:00:00', '2020-01-01 10:30:00',
               '2020-01-01 12:00:00', '2020-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [56]:
ts2 = Series(np.random.randn(4),
             index=pd.date_range('1/1/2000',periods=4,freq='M'))
ts2

2000-01-31    0.719518
2000-02-29   -0.097537
2000-03-31   -1.499889
2000-04-30    0.454797
Freq: M, dtype: float64

In [57]:
ts2.shift(2)
#shift执行的是移动操作 index不变 将数据移动

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.719518
2000-04-30   -0.097537
Freq: M, dtype: float64

In [59]:
ts2.shift(-2)

2000-01-31   -1.499889
2000-02-29    0.454797
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [60]:
#shift操作经常用来计算一个时间序列或多个时间序列的百分比变化
ts2/ts2.shift(1)-1
#shift操作很明显会直接丢弃数据 因为index是不变的 数据移动自然会导致丢弃

2000-01-31          NaN
2000-02-29    -1.135559
2000-03-31    14.377603
2000-04-30    -1.303220
Freq: M, dtype: float64

In [62]:
ts2.shift(2,freq='M')
#如果传入了freq设置时间间隔，那么则会对时间戳进行位移而数据不变

2000-03-31    0.719518
2000-04-30   -0.097537
2000-05-31   -1.499889
2000-06-30    0.454797
Freq: M, dtype: float64

In [63]:
from pandas.tseries.offsets import Day,MonthEnd

now1 = datetime(2021,2,5)
now+3*Day()
#shift方法是面对Series对象的或者DataFrame同理
#而如果要对datetime对象直接做偏移，可以使用offsets包里的对象直接使用‘+’即可
#重构了'+'操作

Timestamp('2021-02-08 09:23:00.884983')

In [64]:
now1+MonthEnd()

Timestamp('2021-02-28 00:00:00')

In [65]:
now1+MonthEnd(2)
#MonthEnd不同于Day Month,是一种锚点偏移量，第一次会定位到当前月的最后一天
#第二次会定位到下一个月的最后一天

Timestamp('2021-03-31 00:00:00')

In [66]:
#锚点偏移量还有其他用法
offset = MonthEnd()
offset.rollforward(now1)

Timestamp('2021-02-28 00:00:00')

In [67]:
offset.rollback(now1)

Timestamp('2021-01-31 00:00:00')

In [68]:
ts3 = Series(np.random.randn(20),pd.date_range('1/15/2000',periods=20,
                                               freq='4d'))
ts3

2000-01-15    0.442352
2000-01-19    2.684314
2000-01-23   -0.889091
2000-01-27   -0.487914
2000-01-31   -1.263994
2000-02-04   -0.542571
2000-02-08   -0.114366
2000-02-12   -0.437448
2000-02-16   -1.431123
2000-02-20    0.546637
2000-02-24   -0.382408
2000-02-28   -0.957676
2000-03-03   -1.623755
2000-03-07   -0.893154
2000-03-11    0.923875
2000-03-15   -0.525723
2000-03-19    0.336860
2000-03-23   -1.424865
2000-03-27    1.401219
2000-03-31   -0.884763
Freq: 4D, dtype: float64

In [71]:
ts3.groupby(offset.rollback).mean()
#还是groupby的基本原理 将函数作用于index上 之后再进行split

1999-12-31    0.437416
2000-01-31   -0.572869
2000-02-29   -0.257935
2000-03-31   -0.884763
dtype: float64

In [73]:
print(type(ts3.index))
print(type(ts3.index[0]))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [75]:
tsindex = ts3.index[0]
tsindex

Timestamp('2000-01-15 00:00:00', freq='4D')

In [76]:
offset.rollback(tsindex)

Timestamp('1999-12-31 00:00:00', freq='4D')