In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('../data/haiti/Haiti.csv')
data

,Serial,INCIDENT TITLE,INCIDENT DATE,LOCATION,DESCRIPTION,CATEGORY,LATITUDE,LONGITUDE,APPROVED,VERIFIED
0,4052,* URGENT * Type O blood donations needed in #J...,05/07/2010 17:26,"Jacmel, Haiti",Birthing Clinic in Jacmel #Haiti urgently need...,"1. Urgences | Emergency, 3. Public Health,",18.233333,-72.533333,YES,NO
1,4051,"Food-Aid sent to Fondwa, Haiti",28/06/2010 23:06,fondwa,Please help food-aid.org deliver more food to ...,"1. Urgences | Emergency, 2. Urgences logistiqu...",50.226029,5.729886,NO,NO
2,4050,how haiti is right now and how it was during t...,24/06/2010 16:21,centrie,i feel so bad for you i know i am supposed to ...,"2. Urgences logistiques | Vital Lines, 8. Autr...",22.278381,114.174287,NO,NO
3,4049,Lost person,20/06/2010 21:59,Genoca,We are family members of Juan Antonio Zuniga O...,"1. Urgences | Emergency,",44.407062,8.933989,NO,NO
4,4042,Citi Soleil school,18/05/2010 16:26,"Citi Soleil, Haiti",We are working with Haitian (NGO) -The Christi...,"1. Urgences | Emergency,",18.571084,-72.334671,YES,NO
...,...,...,...,...,...,...,...,...,...,...
3588,8,Canape Vert road destroyed,13/01/2010 02:57,Port-au-Prince,"Canape Vert, one of the main roads that leads ...","5c. Route barree | Road blocked,",18.539167,-72.335000,YES,NO
3589,7,Collapsed Building -- People Trapped,12/01/2010 09:55,"Delmas 19, Rue Mackendal #8 Port-au-Prince, Haiti",My mother is part of a medical team that had j...,"5a. Structure effondres | Collapsed structure,...",18.539269,-72.336408,YES,NO
3590,6,Eye-Witness Report from Hotel Oloffson,12/01/2010 11:16,"Ave Christophe #60, Port au Prince, Haiti","Tequila Minsky, a New York-based photographer ...","5a. Structure effondres | Collapsed structure,",18.538328,-72.333067,YES,NO
3591,5,Port-au-Prince air traffic control tower damag...,12/01/2010 04:08,"Airport, Port-au-Prince, Haiti",NBC reports Port-au-Prince air traffic control...,"5b. Structures a risque | Unstable Structure,",18.579721,-72.292778,YES,NO
3592,4,National Palace damaged,12/01/2010 10:43,National Palace,National Palace has extensive damage. Presiden...,"5a. Structure effondres | Collapsed structure,",18.543376,-72.338883,YES,YES

In [3]:
data['CATEGORY'].head()

0          1. Urgences | Emergency, 3. Public Health,
1    1. Urgences | Emergency, 2. Urgences logistiqu...
2    2. Urgences logistiques | Vital Lines, 8. Autr...
3                            1. Urgences | Emergency,
4                            1. Urgences | Emergency,
Name: CATEGORY, dtype: object

In [4]:
data.describe()

            Serial     LATITUDE    LONGITUDE
count  3593.000000  3593.000000  3593.000000
mean   2080.277484    18.611495   -72.322680
std    1171.100360     0.738572     3.650776
min       4.000000    18.041313   -74.452757
25%    1074.000000    18.524070   -72.417500
50%    2163.000000    18.539269   -72.335000
75%    3088.000000    18.561820   -72.293570
max    4052.000000    50.226029   114.174287

In [6]:
data = data[(data.LATITUDE>18) & (data.LATITUDE<20) &
            (data.LONGITUDE>-75) & (data.LONGITUDE<-70) & (data.CATEGORY.notnull())]
data

,Serial,INCIDENT TITLE,INCIDENT DATE,LOCATION,DESCRIPTION,CATEGORY,LATITUDE,LONGITUDE,APPROVED,VERIFIED
0,4052,* URGENT * Type O blood donations needed in #J...,05/07/2010 17:26,"Jacmel, Haiti",Birthing Clinic in Jacmel #Haiti urgently need...,"1. Urgences | Emergency, 3. Public Health,",18.233333,-72.533333,YES,NO
4,4042,Citi Soleil school,18/05/2010 16:26,"Citi Soleil, Haiti",We are working with Haitian (NGO) -The Christi...,"1. Urgences | Emergency,",18.571084,-72.334671,YES,NO
5,4041,Radio Commerce in Sarthe,26/04/2010 13:14,"Radio Commerce Shelter, Sarthe",i'm Louinel from Sarthe. I'd to know what can ...,"5e. Communication lines down,",18.593707,-72.310079,YES,NO
6,4040,Contaminated water in Baraderes.,26/04/2010 14:19,Marc near Baraderes,How do we treat water in areas without Pipe?\t...,"4. Menaces | Security Threats, 4e. Assainissem...",18.482800,-73.638800,YES,NO
7,4039,Violence at &quot;arcahaie bas Saint-Ard&quot;,26/04/2010 14:27,unable to find &quot;arcahaie bas Saint-Ard&qu...,Goodnight at (arcahaie bas Saint-Ard) 2 young ...,"4. Menaces | Security Threats,",18.415000,-73.195000,YES,NO
...,...,...,...,...,...,...,...,...,...,...
3588,8,Canape Vert road destroyed,13/01/2010 02:57,Port-au-Prince,"Canape Vert, one of the main roads that leads ...","5c. Route barree | Road blocked,",18.539167,-72.335000,YES,NO
3589,7,Collapsed Building -- People Trapped,12/01/2010 09:55,"Delmas 19, Rue Mackendal #8 Port-au-Prince, Haiti",My mother is part of a medical team that had j...,"5a. Structure effondres | Collapsed structure,...",18.539269,-72.336408,YES,NO
3590,6,Eye-Witness Report from Hotel Oloffson,12/01/2010 11:16,"Ave Christophe #60, Port au Prince, Haiti","Tequila Minsky, a New York-based photographer ...","5a. Structure effondres | Collapsed structure,",18.538328,-72.333067,YES,NO
3591,5,Port-au-Prince air traffic control tower damag...,12/01/2010 04:08,"Airport, Port-au-Prince, Haiti",NBC reports Port-au-Prince air traffic control...,"5b. Structures a risque | Unstable Structure,",18.579721,-72.292778,YES,NO
3592,4,National Palace damaged,12/01/2010 10:43,National Palace,National Palace has extensive damage. Presiden...,"5a. Structure effondres | Collapsed structure,",18.543376,-72.338883,YES,YES

In [7]:
data.describe()

            Serial     LATITUDE    LONGITUDE
count  3569.000000  3569.000000  3569.000000
mean   2081.498459    18.592503   -72.424994
std    1170.311824     0.273695     0.291018
min       4.000000    18.041313   -74.452757
25%    1074.000000    18.524200   -72.417498
50%    2166.000000    18.539269   -72.335000
75%    3089.000000    18.561800   -72.293939
max    4052.000000    19.940630   -71.099489

In [26]:
#通过把逗号分开 再移除空字符
def to_cat_list(catstr):
    stripped = (x.strip() for x in catstr.split(','))
    # for x in stripped:
    #     print(x)
    return [x for x in stripped if x]  #有一些位置是空值 所以需要if x 去除空值

#获得所有的categories列中 过滤出来的内容
def get_all_categories(cat_series):
    cat_sets = ((set(to_cat_list(x))) for x in cat_series)
    return sorted(set.union(*cat_sets))

In [13]:
# | 前面是法语  | 后面是英语
def get_english(cat):
    cat_list = cat.split('.')
    cat_string = cat_list[1]
    if'|' in cat_string:
        english = cat_string.split('|')
        stripped_english = english[1].strip()
        if stripped_english[-1]==',':
            stripped_english = stripped_english[0:-2]
        return cat_list[0],stripped_english
    return cat_list[0],cat_string.strip()

In [27]:
all_cats = get_all_categories(data.CATEGORY)
all_cats

['1. Urgences | Emergency',
 '1a. Highly vulnerable',
 '1b. Urgence medicale | Medical Emergency',
 '1c. Personnes prises au piege | People trapped',
 '1d. Incendie | Fire',
 '2. Urgences logistiques | Vital Lines',
 "2a. Penurie d'aliments | Food Shortage",
 "2b. Penurie d'eau | Water shortage",
 '2c. Eau contaminee | Contaminated water',
 '2c. Probleme de securite | Security Concern',
 '2d. Refuge | Shelter needed',
 '2e. Penurie de carburant | Fuel shortage',
 '2f. Sans courant | Power Outage',
 '3. Public Health',
 '3a. Infectious human disease',
 '3b. Chronic care needs',
 '3c. Besoins en materiels et medicaments | Medical equipment and supply needs',
 "3d. OBGYN/Women's Health",
 '3e. Psychiatric need',
 '4. Menaces | Security Threats',
 '4a. Pillage | Looting',
 '4c. Group violence',
 '4e. Assainissement eau et hygiene | Water sanitation and hygiene promotion',
 '5. Infrastructure Damage',
 '5a. Structure effondres | Collapsed structure',
 '5b. Structures a risque | Unstable Structure',
 '5c. Route barree | Road blocked',
 '5d. Compromised bridge',
 '5e. Communication lines down',
 '6. Natural Hazards',
 '6a. Deces | Deaths',
 '6b. Personnes Disparues | Missing Persons',
 '6c. Demandant de transmettre un message | Asking to forward a message',
 '6c. Seisme et repliques | Earthquake and aftershocks',
 '7. Secours | Services Available',
 "7a. Distribution d'aliments | Food distribution point",
 "7b. Distribution d'eau | Water distribution point",
 '7c. Denrees non alimentaires | Non-food aid distribution point',
 '7d. Services de sante | Hospital/Clinics Operating',
 '7g. Morgue | Human remains management',
 '7h. Deblayage de gravats | Rubble removal',
 '8. Autre | Other',
 '8a. IDP concentration',
 '8c. Price gouging',
 '8d. Recherche et sauvetage | Search and Rescue',
 '8e. Nouvelles de Personnes | Persons News',
 '8f. Other']

In [28]:
english_mapping = dict(get_english(x) for x in all_cats)
english_mapping

{'1': 'Emergency',
 '1a': 'Highly vulnerable',
 '1b': 'Medical Emergency',
 '1c': 'People trapped',
 '1d': 'Fire',
 '2': 'Vital Lines',
 '2a': 'Food Shortage',
 '2b': 'Water shortage',
 '2c': 'Security Concern',
 '2d': 'Shelter needed',
 '2e': 'Fuel shortage',
 '2f': 'Power Outage',
 '3': 'Public Health',
 '3a': 'Infectious human disease',
 '3b': 'Chronic care needs',
 '3c': 'Medical equipment and supply needs',
 '3d': "OBGYN/Women's Health",
 '3e': 'Psychiatric need',
 '4': 'Security Threats',
 '4a': 'Looting',
 '4c': 'Group violence',
 '4e': 'Water sanitation and hygiene promotion',
 '5': 'Infrastructure Damage',
 '5a': 'Collapsed structure',
 '5b': 'Unstable Structure',
 '5c': 'Road blocked',
 '5d': 'Compromised bridge',
 '5e': 'Communication lines down',
 '6': 'Natural Hazards',
 '6a': 'Deaths',
 '6b': 'Missing Persons',
 '6c': 'Earthquake and aftershocks',
 '7': 'Services Available',
 '7a': 'Food distribution point',
 '7b': 'Water distribution point',
 '7c': 'Non-food aid distribution point',
 '7d': 'Hospital/Clinics Operating',
 '7g': 'Human remains management',
 '7h': 'Rubble removal',
 '8': 'Other',
 '8a': 'IDP concentration',
 '8c': 'Price gouging',
 '8d': 'Search and Rescue',
 '8e': 'Persons News',
 '8f': 'Other'}

In [30]:
all_codes = list(english_mapping.keys())
all_codes

['1',
 '1a',
 '1b',
 '1c',
 '1d',
 '2',
 '2a',
 '2b',
 '2c',
 '2d',
 '2e',
 '2f',
 '3',
 '3a',
 '3b',
 '3c',
 '3d',
 '3e',
 '4',
 '4a',
 '4c',
 '4e',
 '5',
 '5a',
 '5b',
 '5c',
 '5d',
 '5e',
 '6',
 '6a',
 '6b',
 '6c',
 '7',
 '7a',
 '7b',
 '7c',
 '7d',
 '7g',
 '7h',
 '8',
 '8a',
 '8c',
 '8d',
 '8e',
 '8f']

In [33]:
code_index = pd.Index(all_codes)
dummy_frame = DataFrame(np.zeros((len(data),len(code_index))),index=data.index,
                        columns=code_index)
dummy_frame

,1,1a,1b,1c,1d,2,2a,2b,2c,2d,...,7c,7d,7g,7h,8,8a,8c,8d,8e,8f
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3589,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3591,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3592,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
def get_codes(seq):
    codes = []
    for x in seq:
        code = x.split('.')[0].strip()
        if code not in codes:
            codes.append(code)
    return codes
# get_codes(['1. Urgences | Emergency','3. Public Health,'])

['1', '3']

In [35]:
for row,cat in zip(data.index,data.CATEGORY):  #zip将第一个的0,1,2..位置上的和第二个0,1,2..的结合
                                               #（0,0），（1,1）...
    codes = get_codes(to_cat_list(cat))
    dummy_frame.loc[row,codes] = 1

dummy_frame

,1,1a,1b,1c,1d,2,2a,2b,2c,2d,...,7c,7d,7g,7h,8,8a,8c,8d,8e,8f
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3589,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3591,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3592,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
dummy_frame.loc[5]

1     0.0
1a    0.0
1b    0.0
1c    0.0
1d    0.0
2     0.0
2a    0.0
2b    0.0
2c    0.0
2d    0.0
2e    0.0
2f    0.0
3     0.0
3a    0.0
3b    0.0
3c    0.0
3d    0.0
3e    0.0
4     0.0
4a    0.0
4c    0.0
4e    0.0
5     0.0
5a    0.0
5b    0.0
5c    0.0
5d    0.0
5e    1.0
6     0.0
6a    0.0
6b    0.0
6c    0.0
7     0.0
7a    0.0
7b    0.0
7c    0.0
7d    0.0
7g    0.0
7h    0.0
8     0.0
8a    0.0
8c    0.0
8d    0.0
8e    0.0
8f    0.0
Name: 5, dtype: float64

In [42]:
data1 = pd.merge(data,dummy_frame.rename(lambda x:'category_'+x,axis=1),left_index=True,right_index=True)
data1

,Serial,INCIDENT TITLE,INCIDENT DATE,LOCATION,DESCRIPTION,CATEGORY,LATITUDE,LONGITUDE,APPROVED,VERIFIED,...,category_7c,category_7d,category_7g,category_7h,category_8,category_8a,category_8c,category_8d,category_8e,category_8f
0,4052,* URGENT * Type O blood donations needed in #J...,05/07/2010 17:26,"Jacmel, Haiti",Birthing Clinic in Jacmel #Haiti urgently need...,"1. Urgences | Emergency, 3. Public Health,",18.233333,-72.533333,YES,NO,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4042,Citi Soleil school,18/05/2010 16:26,"Citi Soleil, Haiti",We are working with Haitian (NGO) -The Christi...,"1. Urgences | Emergency,",18.571084,-72.334671,YES,NO,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4041,Radio Commerce in Sarthe,26/04/2010 13:14,"Radio Commerce Shelter, Sarthe",i'm Louinel from Sarthe. I'd to know what can ...,"5e. Communication lines down,",18.593707,-72.310079,YES,NO,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,4040,Contaminated water in Baraderes.,26/04/2010 14:19,Marc near Baraderes,How do we treat water in areas without Pipe?\t...,"4. Menaces | Security Threats, 4e. Assainissem...",18.482800,-73.638800,YES,NO,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,4039,Violence at &quot;arcahaie bas Saint-Ard&quot;,26/04/2010 14:27,unable to find &quot;arcahaie bas Saint-Ard&qu...,Goodnight at (arcahaie bas Saint-Ard) 2 young ...,"4. Menaces | Security Threats,",18.415000,-73.195000,YES,NO,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3588,8,Canape Vert road destroyed,13/01/2010 02:57,Port-au-Prince,"Canape Vert, one of the main roads that leads ...","5c. Route barree | Road blocked,",18.539167,-72.335000,YES,NO,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3589,7,Collapsed Building -- People Trapped,12/01/2010 09:55,"Delmas 19, Rue Mackendal #8 Port-au-Prince, Haiti",My mother is part of a medical team that had j...,"5a. Structure effondres | Collapsed structure,...",18.539269,-72.336408,YES,NO,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3590,6,Eye-Witness Report from Hotel Oloffson,12/01/2010 11:16,"Ave Christophe #60, Port au Prince, Haiti","Tequila Minsky, a New York-based photographer ...","5a. Structure effondres | Collapsed structure,",18.538328,-72.333067,YES,NO,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3591,5,Port-au-Prince air traffic control tower damag...,12/01/2010 04:08,"Airport, Port-au-Prince, Haiti",NBC reports Port-au-Prince air traffic control...,"5b. Structures a risque | Unstable Structure,",18.579721,-72.292778,YES,NO,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3592,4,National Palace damaged,12/01/2010 10:43,National Palace,National Palace has extensive damage. Presiden...,"5a. Structure effondres | Collapsed structure,",18.543376,-72.338883,YES,YES,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
import mpl_toolkits
data1.describe()

,Serial,LATITUDE,LONGITUDE,category_1,category_1a,category_1b,category_1c,category_1d,category_2,category_2a,...,category_7c,category_7d,category_7g,category_7h,category_8,category_8a,category_8c,category_8d,category_8e,category_8f
count,3569.000000,3569.000000,3569.000000,3569.000000,3569.000000,3569.000000,3569.000000,3569.000000,3569.000000,3569.000000,...,3569.000000,3569.000000,3569.000000,3569.000000,3569.000000,3569.000000,3569.000000,3569.000000,3569.000000,3569.000000
mean,2081.498459,18.592503,-72.424994,0.097506,0.000560,0.058280,0.046792,0.001961,0.137854,0.447184,...,0.021575,0.071449,0.010367,0.001961,0.044830,0.005604,0.000280,0.013729,0.082376,0.001121
std,1170.311824,0.273695,0.291018,0.296688,0.023669,0.234304,0.211222,0.044250,0.344795,0.497272,...,0.145310,0.257609,0.101304,0.044250,0.206961,0.074659,0.016739,0.116381,0.274975,0.033464
min,4.000000,18.041313,-74.452757,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1074.000000,18.524200,-72.417498,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2166.000000,18.539269,-72.335000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3089.000000,18.561800,-72.293939,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4052.000000,19.940630,-71.099489,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [47]:
#下不了就很尴尬 不过数据基本分析完了 画图就还好吧