In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [3]:
df = DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],
                [0.75,-1.3]],index=['a','b','c','d'],columns=['one','two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [22]:
#约简与汇总统计方法

#归简方法
print(df.sum())       #axis=0按列操作
print(df.sum(axis=1)) #axis=1按行操作 见图DataFrame_axis.png
print(df.mean(axis=1, skipna=False)) #skipna可以设置是否跳过nan

print(df.idxmax())
print(df.idxmax(axis=1)) #返回的是间接统计-索引

print(df.cumsum())
print(df.cumsum(axis=1))#累计求和方法

print('-------------------------')
print(df.describe())
print(df.describe().index)
print(df.describe().loc['25%'])

one    9.25
two   -5.80
dtype: float64
a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64
a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64
one    b
two    d
dtype: object
a    one
b    one
c    NaN
d    one
dtype: object
    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8
    one   two
a  1.40   NaN
b  7.10  2.60
c   NaN   NaN
d  0.75 -0.55
-------------------------
            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000
Index(['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'], dtype='object')
one    1.075
two   -3.700
Name: 25%, dtype: float64

In [25]:
import pandas_datareader as web

all_data={}
for ticker in ['AAPL','IBM','MSFT','GOOG']:
    all_data[ticker] = web.get_data_yahoo(ticker,'1/1/2000','1/1/2010')
all_data

{'AAPL':                 High       Low      Open     Close       Volume  Adj Close
 Date
 1999-12-31  0.918527  0.888393  0.901228  0.917969  163811200.0   0.791887
 2000-01-03  1.004464  0.907924  0.936384  0.999442  535796800.0   0.862169
 2000-01-04  0.987723  0.903460  0.966518  0.915179  512377600.0   0.789480
 2000-01-05  0.987165  0.919643  0.926339  0.928571  778321600.0   0.801032
 2000-01-06  0.955357  0.848214  0.947545  0.848214  767972800.0   0.731712
 ...              ...       ...       ...       ...          ...        ...
 2009-12-24  7.476786  7.262500  7.269643  7.465714  500889200.0   6.440303
 2009-12-28  7.641071  7.486071  7.561429  7.557500  644565600.0   6.519482
 2009-12-29  7.597143  7.454643  7.593929  7.467857  445205600.0   6.442152
 2009-12-30  7.571429  7.439643  7.458214  7.558571  412084400.0   6.520405
 2009-12-31  7.619643  7.520000  7.611786  7.526071  352410800.0   6.492369

 [2516 rows x 6 columns],
 'IBM':                   High         Low        Open       Close      Volume  \
 Date
 1999-12-31  109.500000  106.625000  109.187500  107.875000   2870300.0
 2000-01-03  116.000000  111.875000  112.437500  116.000000  10347700.0
 2000-01-04  114.500000  110.875000  114.000000  112.062500   8227800.0
 2000-01-05  119.750000  112.125000  112.937500  116.000000  12733200.0
 2000-01-06  118.937500  113.500000  118.000000  114.000000   7971900.0
 ...                ...         ...         ...         ...         ...
 2009-12-24  130.570007  129.479996  129.889999  130.570007   4265100.0
 2009-12-28  132.309998  130.720001  130.990005  132.309998   5800400.0
 2009-12-29  132.369995  131.800003  132.279999  131.850006   4184200.0
 2009-12-30  132.679993  130.679993  131.229996  132.570007   3867000.0
 2009-12-31  132.850006  130.750000  132.410004  130.899994   4223400.0

             Adj Close
 Date
 1999-12-31  68.691307
 2000-01-03  73.865021
 2000-01-04  71.357750
 2000-01-05  73.865021
 2000-01-06  72.591492
 ...               ...
 2009-12-24  92.434242
 2009-12-28  93.666039
 2009-12-29  93.340370
 2009-12-30  93.850067
 2009-12-31  92.667847

 [2516 rows x 6 columns],
 'MSFT':                  High        Low       Open      Close      Volume  Adj Close
 Date
 1999-12-31  58.875000  58.125000  58.750000  58.375000  12517600.0  37.162327
 2000-01-03  59.312500  56.000000  58.687500  58.281250  53228400.0  37.102634
 2000-01-04  58.562500  56.125000  56.781250  56.312500  54119000.0  35.849308
 2000-01-05  58.187500  54.687500  55.562500  56.906250  64059600.0  36.227283
 2000-01-06  56.937500  54.187500  56.093750  55.000000  54976600.0  35.013741
 ...               ...        ...        ...        ...         ...        ...
 2009-12-24  31.000000  30.760000  30.879999  31.000000  11083900.0  24.144302
 2009-12-28  31.180000  30.889999  31.000000  31.170000  25384000.0  24.276709
 2009-12-29  31.500000  31.230000  31.350000  31.389999  29716200.0  24.448051
 2009-12-30  31.290001  30.799999  31.150000  30.959999  42006200.0  24.113148
 2009-12-31  30.990000  30.480000  30.980000  30.480000  31929700.0  23.739305

 [2516 rows x 6 columns],
 'GOOG':                   High         Low        Open       Close    Volume  \
 Date
 2004-08-19   51.835709   47.800831   49.813290   49.982655  44871361
 2004-08-20   54.336334   50.062355   50.316402   53.952770  22942874
 2004-08-23   56.528118   54.321388   55.168217   54.495735  18342897
 2004-08-24   55.591629   51.591621   55.412300   52.239197  15319808
 2004-08-25   53.798351   51.746044   52.284027   52.802086   9232276
 ...                ...         ...         ...         ...       ...
 2009-12-24  308.603271  304.991821  305.320587  308.085236   1723837
 2009-12-28  311.826202  308.085236  309.669281  310.272034   3408528
 2009-12-29  311.253357  307.990570  311.203522  308.543518   2860281
 2009-12-30  310.202301  307.851105  308.095184  310.202301   2942187
 2009-12-31  311.532288  308.832428  311.208527  308.832428   2448744

              Adj Close
 Date
 2004-08-19   49.982655
 2004-08-20   53.952770
 2004-08-23   54.495735
 2004-08-24   52.239197
 2004-08-25   52.802086
 ...                ...
 2009-12-24  308.085236
 2009-12-28  310.272034
 2009-12-29  308.543518
 2009-12-30  310.202301
 2009-12-31  308.832428

 [1353 rows x 6 columns]}

In [28]:
price = DataFrame({tic: data['Adj Close']
                   for tic,data in all_data.items()})
volume = DataFrame({tic: data['Volume']
                   for tic,data in all_data.items()}) #处理方法挺不错的
print(price)
print(volume)

                AAPL        IBM       MSFT        GOOG
Date
1999-12-31  0.791887  68.691307  37.162327         NaN
2000-01-03  0.862169  73.865021  37.102634         NaN
2000-01-04  0.789480  71.357750  35.849308         NaN
2000-01-05  0.801032  73.865021  36.227283         NaN
2000-01-06  0.731712  72.591492  35.013741         NaN
...              ...        ...        ...         ...
2009-12-24  6.440303  92.434242  24.144302  308.085236
2009-12-28  6.519482  93.666039  24.276709  310.272034
2009-12-29  6.442152  93.340370  24.448051  308.543518
2009-12-30  6.520405  93.850067  24.113148  310.202301
2009-12-31  6.492369  92.667847  23.739305  308.832428

[2516 rows x 4 columns]
                   AAPL         IBM        MSFT       GOOG
Date
1999-12-31  163811200.0   2870300.0  12517600.0        NaN
2000-01-03  535796800.0  10347700.0  53228400.0        NaN
2000-01-04  512377600.0   8227800.0  54119000.0        NaN
2000-01-05  778321600.0  12733200.0  64059600.0        NaN
2000-01-06  767972800.0   7971900.0  54976600.0        NaN
...                 ...         ...         ...        ...
2009-12-24  500889200.0   4265100.0  11083900.0  1723837.0
2009-12-28  644565600.0   5800400.0  25384000.0  3408528.0
2009-12-29  445205600.0   4184200.0  29716200.0  2860281.0
2009-12-30  412084400.0   3867000.0  42006200.0  2942187.0
2009-12-31  352410800.0   4223400.0  31929700.0  2448744.0

[2516 rows x 4 columns]

In [29]:
print(type(all_data['AAPL']))

<class 'pandas.core.frame.DataFrame'>

In [32]:
returns = price.pct_change()#计算百分数变化
print(returns.tail())
print(returns.MSFT.corr(returns.IBM)) #计算相关系数 corr
print(returns.corr()) #相关系数
print(returns.cov()) #协方差

                AAPL       IBM      MSFT      GOOG
Date
2009-12-24  0.034340  0.004385  0.002587  0.011117
2009-12-28  0.012294  0.013326  0.005484  0.007098
2009-12-29 -0.011861 -0.003477  0.007058 -0.005571
2009-12-30  0.012147  0.005461 -0.013699  0.005376
2009-12-31 -0.004300 -0.012597 -0.015504 -0.004416
0.49435840887788884
          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.412391  0.423598  0.470676
IBM   0.412391  1.000000  0.494358  0.390689
MSFT  0.423598  0.494358  1.000000  0.443586
GOOG  0.470676  0.390689  0.443586  1.000000
          AAPL       IBM      MSFT      GOOG
AAPL  0.001030  0.000254  0.000309  0.000303
IBM   0.000254  0.000369  0.000216  0.000142
MSFT  0.000309  0.000216  0.000516  0.000205
GOOG  0.000303  0.000142  0.000205  0.000580

In [42]:
obj = Series(['a','c','d','d','b','b','e','a','a'])
uniques = obj.unique()  #取唯一值 去重
print(uniques)
print(type(uniques))

print(obj.value_counts())
print(obj.value_counts(sort=False))#获取出现频率

mask = obj.isin(['b','c'])
print(mask)
print(obj[mask])

['a' 'c' 'd' 'b' 'e']
<class 'numpy.ndarray'>
a    3
b    2
d    2
e    1
c    1
dtype: int64
c    1
d    2
a    3
b    2
e    1
dtype: int64
0    False
1     True
2    False
3    False
4     True
5     True
6    False
7    False
8    False
dtype: bool
1    c
4    b
5    b
dtype: object

In [55]:
#处理缺失数据
# isnull notnull 可以判断是否为NaN和None
# 之后可以使用dropna fillna进行缺失数据的处理

#Series
string_data = Series(['young','damon',np.nan,None])
print(string_data.isnull())

print(string_data.dropna())
print(string_data[string_data.notnull()]) #这两个效果是一样的

print('-----------------------------------------------------')
#DataFrame
data = DataFrame([[1.,6.5,3.],[1.,np.nan,np.nan],[np.nan,np.nan,np.nan],
                  [np.nan,6.5,3.]])
print(data)
print(data.dropna()) #DataFrame的dropna默认是将出现NaN的行全去除
print("---------------")
print(data.dropna(how='all')) #通过how参数可以确定去除规则 all是只去除全为NaN的部分
print('--------------')
print(data.dropna(axis=1)) #axis=1设置按列取丢弃

0    False
1    False
2     True
3     True
dtype: bool
0    young
1    damon
dtype: object
0    young
1    damon
dtype: object
-----------------------------------------------------
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0
     0    1    2
0  1.0  6.5  3.0
---------------
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0
--------------
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [62]:
#填充缺失数据 fillna
print(data.fillna(0))

data.fillna(1,inplace=True) #inplace参数可以替换原有对象
print(data)
print('-----------------------------------')
#在reindex里有过当出现新的index的时候可以使用ffill bfill插值处理
#在fillna中同样有 很明显可以而且合理而且有用
data = DataFrame([[1.,6.5,3.],[1.,np.nan,np.nan],[np.nan,np.nan,np.nan],
                  [np.nan,6.5,3.]])
print(data)
print(data.fillna(method='ffill'))
print(data.fillna(method='ffill',limit=1))
#method设置ffill能够复制填充 Limit参数能设置最大填充个数

     0    1    2
0  1.0  6.5  3.0
1  1.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  6.5  3.0
     0    1    2
0  1.0  6.5  3.0
1  1.0  1.0  1.0
2  1.0  1.0  1.0
3  1.0  6.5  3.0
-----------------------------------
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0
     0    1    2
0  1.0  6.5  3.0
1  1.0  6.5  3.0
2  1.0  6.5  3.0
3  1.0  6.5  3.0
     0    1    2
0  1.0  6.5  3.0
1  1.0  6.5  3.0
2  1.0  NaN  NaN
3  NaN  6.5  3.0

In [81]:
#层次化索引：在同一个轴上，有多个索引级别 有索引的索引 然后映射数据

#Series
data1 = Series(np.random.randn(10),index=[['a','a','a','b','b','b','c','c','d','d'],
                                          [1,2,3,1,2,3,1,2,2,3]])
print(data1)
print(data1.index) #在这种情况下就是层次化索引 index的数据类型为MultiIndex
#对于层次化索引的处理要分层处理（直觉上肯定是这样的）
print("取一层索引")
print(data1['b'])
print("取一层区间索引")
print(data1[['b','c']])
print("在取一层之后再去取二层索引拿到数据值")
print(data1['b'][1])
print("外层不取，取内层索引")
print(data1[:,2])
print('-------------------------------')
print("可以通过unstack()方法将Series的层次化索引变为DataFrame 更合理")
print(data1.unstack())
print(data1.unstack().stack()) #stack是unstack的逆运算


print("##################################")
#DataFrame
frame = DataFrame(np.arange(12).reshape(4,3),
                  index=[['a','a','b','b'],[1,2,1,2]],
                  columns=[['Ohio','Ohio','Colorado'],['Green','Red','Green']])
print(frame) #DataFrame两个轴都可以进行分层索引
print("可以给分层索引的每层进行命名")
frame.index.names = ['key1','key2']
frame.columns.names = ['state','color']
print(frame)
print(frame['Ohio'].loc['a'].Green.iloc[0])

print("-----------------------------------")
#分层索引的层级之间可以互换顺序 改变优先级,当然数据不会发生变化
print(frame.swaplevel('key1','key2'))
print(frame.sum(level='key2'))
print(frame.sum(level='color',axis = 1))

a  1    0.018199
   2   -0.417106
   3   -0.161546
b  1    0.651970
   2   -0.032396
   3   -0.291069
c  1   -0.470451
   2   -1.552493
d  2    0.581938
   3   -1.623663
dtype: float64
MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )
取一层索引
1    0.651970
2   -0.032396
3   -0.291069
dtype: float64
取一层区间索引
b  1    0.651970
   2   -0.032396
   3   -0.291069
c  1   -0.470451
   2   -1.552493
dtype: float64
在取一层之后再去取二层索引拿到数据值
0.6519698329880603
外层不取，取内层索引
a   -0.417106
b   -0.032396
c   -1.552493
d    0.581938
dtype: float64
-------------------------------
可以通过unstack()方法将Series的层次化索引变为DataFrame 更合理
          1         2         3
a  0.018199 -0.417106 -0.161546
b  0.651970 -0.032396 -0.291069
c -0.470451 -1.552493       NaN
d       NaN  0.581938 -1.623663
a  1    0.018199
   2   -0.417106
   3   -0.161546
b  1    0.651970
   2   -0.032396
   3   -0.291069
c  1   -0.470451
   2   -1.552493
d  2    0.581938
   3   -1.623663
dtype: float64
##################################
     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11
可以给分层索引的每层进行命名
state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11
0
-----------------------------------
state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11
state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16
color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

In [87]:
#当需要将DataFrame的一个列当行索引 或者多个列当行分层索引时 可以使用set_index
frame2 = DataFrame({'a':range(7),'b':range(7,0,-1),'c':['one','one','one','two','two',
                    'two','two'],'d':[0,1,2,3,1,2,0]})
print(frame2)
print('--------------------------------------------')
print(frame2.set_index(['c'])) #将c的列作为index存在 因为index的维度和每列的维度是一样的
print(frame2.set_index(['c','d'])) #如果用两列就产生了分层索引
print(frame2.set_index(['c','d'],drop=False)) #如果使用drop False 参数可以不去掉那几列
print("--------------------")
print(frame2.set_index(['c','d']).reset_index()) #reset_index是逆过程

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  3
4  4  3  two  1
5  5  2  two  2
6  6  1  two  0
--------------------------------------------
     a  b  d
c
one  0  7  0
one  1  6  1
one  2  5  2
two  3  4  3
two  4  3  1
two  5  2  2
two  6  1  0
       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 3  3  4
    1  4  3
    2  5  2
    0  6  1
       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 3  3  4  two  3
    1  4  3  two  1
    2  5  2  two  2
    0  6  1  two  0
--------------------
     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  3  3  4
4  two  1  4  3
5  two  2  5  2
6  two  0  6  1