In [21]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np

In [22]:
#DataFrame是表格型的数据结构
#DataFrame既有行索引也有列索引，可以看做由Series组成的字典

In [23]:
data = {'state':['Ohio', 'Ohio', 'Ohio','Nevada','Nevada'],
        'year':[2000,2001,2002,2001,2002],
        'pop':[1.5,1.7,3.6,2.4,2.9]}
#1.每个列的数据是可重复的
#2.形式上类似于多个Series组成了一个DataFrame
frame = DataFrame(data)
print(frame)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [24]:
print(DataFrame(data,columns=['year','state','pop'])) #可以使用columns改变列的排列顺序

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

In [25]:
frame2 = DataFrame(data,columns=['year','state','pop','debt'],
                   index=['one','two','three','four','five'])
print(frame2) #如果传入的列在data中没有会自动变成NaN
print(frame2.columns)

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [26]:
#取值部分

print(frame2.year)
print(frame2['year'])
print(type(frame2.year))
#以上两种方法.或者[]都可以直接取一列值 取得的数据类型是Series
#取得的Series的索引和原有的DataFrame是一致的 且Name属性已经被设置过了

print(frame2.loc['three'])
print(frame2.iloc[3])
print(type(frame2.loc['three']))
#通过loc和iloc都可以按行来取值，但是iloc只能用行号来进行取值(int loc)
#loc可以使用行名来进行取值， 同时取得的值仍然是Series类型

one      2000
two      2001
three    2002
four     2001
five     2002
Name: year, dtype: int64
one      2000
two      2001
three    2002
four     2001
five     2002
Name: year, dtype: int64
<class 'pandas.core.series.Series'>
year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object
year       2001
state    Nevada
pop         2.4
debt        NaN
Name: four, dtype: object
<class 'pandas.core.series.Series'>

In [30]:
#修改值部分

frame2['debt'] = 16
print(frame2)
frame2['debt'] = np.arange(5)
print(frame2)
val = Series([-1.2,-1.7,1.8],index=['one','three','four'])
frame2['debt'] = val
print(frame2)
#通过直接给按照名字取得的Series列赋值 可以赋值数值也可以赋值数组值
#也可以直接进行Series赋值，并且有严格的索引-值对应关系

frame2['eastern'] = frame2.state == 'Ohio' #此方法使用的是数组形式赋值
print(frame2)
del frame2['eastern'] #使用del用于删除某列
print(frame2)
#注意！ 通过索引方式返回的列都是数据的视图而非拷贝，所有的操作都会回溯到原本的对象上
       #所以如果要进行普通尝试，需要通过Series.copy进行赋值为副本
test_debt = Series.copy(frame2['debt'])
test_debt['three'] = 0
print(test_debt)
print(frame2) #此时test_debt是副本 它的修改对原本对象frame2无任何影响

       year   state  pop  debt
one    2000    Ohio  1.5    16
two    2001    Ohio  1.7    16
three  2002    Ohio  3.6    16
four   2001  Nevada  2.4    16
five   2002  Nevada  2.9    16
       year   state  pop  debt
one    2000    Ohio  1.5     0
two    2001    Ohio  1.7     1
three  2002    Ohio  3.6     2
four   2001  Nevada  2.4     3
five   2002  Nevada  2.9     4
       year   state  pop  debt
one    2000    Ohio  1.5  -1.2
two    2001    Ohio  1.7   NaN
three  2002    Ohio  3.6  -1.7
four   2001  Nevada  2.4   1.8
five   2002  Nevada  2.9   NaN
       year   state  pop  debt  eastern
one    2000    Ohio  1.5  -1.2     True
two    2001    Ohio  1.7   NaN     True
three  2002    Ohio  3.6  -1.7     True
four   2001  Nevada  2.4   1.8    False
five   2002  Nevada  2.9   NaN    False
       year   state  pop  debt
one    2000    Ohio  1.5  -1.2
two    2001    Ohio  1.7   NaN
three  2002    Ohio  3.6  -1.7
four   2001  Nevada  2.4   1.8
five   2002  Nevada  2.9   NaN
one     -1.2
two      NaN
three    0.0
four     1.8
five     NaN
Name: debt, dtype: float64
       year   state  pop  debt
one    2000    Ohio  1.5  -1.2
two    2001    Ohio  1.7   NaN
three  2002    Ohio  3.6  -1.7
four   2001  Nevada  2.4   1.8
five   2002  Nevada  2.9   NaN

In [33]:
#values

frame2.index.name = 'number'
frame2.columns.name = 'attribute' #可以添加行名与列名
print(frame2)
print(frame2.values)
print(type(frame2.values)) #DataFrame的values对象返回ndarray的二维数组对象
print(frame2.values[0,3])

attribute  year   state  pop  debt
number
one        2000    Ohio  1.5  -1.2
two        2001    Ohio  1.7   NaN
three      2002    Ohio  3.6  -1.7
four       2001  Nevada  2.4   1.8
five       2002  Nevada  2.9   NaN
[[2000 'Ohio' 1.5 -1.2]
 [2001 'Ohio' 1.7 nan]
 [2002 'Ohio' 3.6 -1.7]
 [2001 'Nevada' 2.4 1.8]
 [2002 'Nevada' 2.9 nan]]
<class 'numpy.ndarray'>
-1.2

In [36]:
#索引对象

print(frame2.index)
print(type(frame2.index))
print(frame2.columns)
print(type(frame2.columns))
#DataFrame的index和columns和Series的inde 都是indexes类型的对象
#它们类似于一个数组的形式
index = frame2.index
#index[1] = 'a'
#index对象不可像数组一样根据下标进行修改
index.insert(0,'zero')
print(index)
#但是是可以对index进行一系列的操作 append diff delete drop insert等
#需要使用时查找即可 只要记住可以对indexes对象进行很大自由度的操作即可

Index(['one', 'two', 'three', 'four', 'five'], dtype='object', name='number')
<class 'pandas.core.indexes.base.Index'>
Index(['year', 'state', 'pop', 'debt'], dtype='object', name='attribute')
<class 'pandas.core.indexes.base.Index'>
Index(['one', 'two', 'three', 'four', 'five'], dtype='object', name='number')