In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [4]:
#pandas提供了自动的数据对齐功能

data = pd.read_csv('../examples/stock_px.csv',parse_dates=True,index_col=0)
data

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
1990-02-01   4.98    7.86   2.87   16.79   4.27   0.51   6.04   328.79   6.12
1990-02-02   5.04    8.00   2.87   16.89   4.37   0.51   6.09   330.92   6.24
1990-02-05   5.07    8.18   2.87   17.32   4.34   0.51   6.05   331.85   6.25
1990-02-06   5.01    8.12   2.88   17.56   4.32   0.51   6.15   329.66   6.23
1990-02-07   5.04    7.77   2.91   17.93   4.38   0.51   6.17   333.75   6.33
...           ...     ...    ...     ...    ...    ...    ...      ...    ...
2011-10-10  10.09  388.81  16.14  186.62  64.43  26.94  61.87  1194.89  76.28
2011-10-11  10.30  400.29  16.14  185.00  63.96  27.00  60.95  1195.54  76.27
2011-10-12  10.05  402.19  16.40  186.12  64.33  26.96  62.70  1207.25  77.16
2011-10-13  10.10  408.43  16.22  186.82  64.23  27.18  62.36  1203.66  76.37
2011-10-14  10.26  422.00  16.60  190.53  64.72  27.27  62.24  1224.58  78.11

[5472 rows x 9 columns]

In [7]:
prices1 = data[['AAPL','JNJ','SPX','XOM']]
prices1

              AAPL    JNJ      SPX    XOM
1990-02-01    7.86   4.27   328.79   6.12
1990-02-02    8.00   4.37   330.92   6.24
1990-02-05    8.18   4.34   331.85   6.25
1990-02-06    8.12   4.32   329.66   6.23
1990-02-07    7.77   4.38   333.75   6.33
...            ...    ...      ...    ...
2011-10-10  388.81  64.43  1194.89  76.28
2011-10-11  400.29  63.96  1195.54  76.27
2011-10-12  402.19  64.33  1207.25  77.16
2011-10-13  408.43  64.23  1203.66  76.37
2011-10-14  422.00  64.72  1224.58  78.11

[5472 rows x 4 columns]

In [8]:
price = prices1.loc['2011-09-06':'2011-09-14']
price

              AAPL    JNJ      SPX    XOM
2011-09-06  379.74  64.64  1165.24  71.15
2011-09-07  383.93  65.43  1198.62  73.65
2011-09-08  384.14  64.95  1185.90  72.82
2011-09-09  377.48  63.64  1154.23  71.01
2011-09-12  379.94  63.59  1162.27  71.84
2011-09-13  384.62  63.61  1172.87  71.65
2011-09-14  389.30  63.73  1188.68  72.64

In [9]:
volume = data[['AAPL','JNJ','XOM']].loc['2011-09-06':'2011-09-12']
volume

              AAPL    JNJ    XOM
2011-09-06  379.74  64.64  71.15
2011-09-07  383.93  65.43  73.65
2011-09-08  384.14  64.95  72.82
2011-09-09  377.48  63.64  71.01
2011-09-12  379.94  63.59  71.84

In [10]:
volume = volume*1000
volume

                AAPL      JNJ      XOM
2011-09-06  379740.0  64640.0  71150.0
2011-09-07  383930.0  65430.0  73650.0
2011-09-08  384140.0  64950.0  72820.0
2011-09-09  377480.0  63640.0  71010.0
2011-09-12  379940.0  63590.0  71840.0

In [11]:
#假设我们经过处理之后得到 prices是当日的股价 而volume是当日的成交额（因为我没找到volume对应的数据）

#如果要计算成交量加权平均价格 由于pandas的自动对齐机制可以比较简单实现
price*volume

                   AAPL        JNJ  SPX        XOM
2011-09-06  144202467.6  4178329.6  NaN  5062322.5
2011-09-07  147402244.9  4281084.9  NaN  5424322.5
2011-09-08  147563539.6  4218502.5  NaN  5302752.4
2011-09-09  142491150.4  4050049.6  NaN  5042420.1
2011-09-12  144354403.6  4043688.1  NaN  5160985.6
2011-09-13          NaN        NaN  NaN        NaN
2011-09-14          NaN        NaN  NaN        NaN

In [13]:
vwap = (price*volume).sum()/volume.sum()
vwap
#乘的时候就会对齐 使用sum也会排除缺失数据

AAPL    381.063602
JNJ      64.458199
SPX            NaN
XOM      72.108090
dtype: float64

In [14]:
vwap.dropna()

AAPL    381.063602
JNJ      64.458199
XOM      72.108090
dtype: float64

In [15]:
#使用手工对齐方法 align
price.align(volume,join='inner')
#align用以手动对齐，得到的结果是一个元组 含有两个对象的重索引版本

(              AAPL    JNJ    XOM
 2011-09-06  379.74  64.64  71.15
 2011-09-07  383.93  65.43  73.65
 2011-09-08  384.14  64.95  72.82
 2011-09-09  377.48  63.64  71.01
 2011-09-12  379.94  63.59  71.84,
                 AAPL      JNJ      XOM
 2011-09-06  379740.0  64640.0  71150.0
 2011-09-07  383930.0  65430.0  73650.0
 2011-09-08  384140.0  64950.0  72820.0
 2011-09-09  377480.0  63640.0  71010.0
 2011-09-12  379940.0  63590.0  71840.0)

In [16]:
s1 = Series(range(3),index=['a','b','c'])
s2 = Series(range(4),index=['d','b','c','e'])
s3 = Series(range(3),index=['f','a','c'])

In [17]:
#通过索引不同的多个Series构建一个DataFrame
DataFrame({'one':s1,'two':s2,'three':s3})
#此时就进行了合并对齐 没有的用NaN代替

   one  two  three
a  0.0  NaN    1.0
b  1.0  1.0    NaN
c  2.0  2.0    2.0
d  NaN  0.0    NaN
e  NaN  3.0    NaN
f  NaN  NaN    0.0

In [19]:
DataFrame({'one':s1,'two':s2,'three':s3},index=list('face'))
#当然可以显示定义index的值

   one  two  three
f  NaN  NaN    0.0
a  0.0  NaN    1.0
c  2.0  2.0    2.0
e  NaN  3.0    NaN

In [ ]:
#频率不同的时间序列的运算 肯定还是要对齐
#对齐方法有两种resample和reindex
#resample将数据统一到固定频率（比如统一到月/季/年进行计算）
#reindex自然就更广泛了 定为一个新的索引上
#resample和reindex都支持插值（ffill bfill）

In [20]:
ts1 = Series(np.random.randn(3),
             index=pd.date_range('2012-6-13',periods=3,freq='W-WED'))
ts1

2012-06-13   -0.127052
2012-06-20    0.033869
2012-06-27    0.319417
Freq: W-WED, dtype: float64

In [22]:
#将其重采样到所有的工作日上
ts1.resample('B').size()
#其他的部分会补NaN

2012-06-13    1
2012-06-14    0
2012-06-15    0
2012-06-18    0
2012-06-19    0
2012-06-20    1
2012-06-21    0
2012-06-22    0
2012-06-25    0
2012-06-26    0
2012-06-27    1
Freq: B, dtype: int64

In [24]:
ts1.resample('B').ffill()
#向前插值

2012-06-13   -0.127052
2012-06-14   -0.127052
2012-06-15   -0.127052
2012-06-18   -0.127052
2012-06-19   -0.127052
2012-06-20    0.033869
2012-06-21    0.033869
2012-06-22    0.033869
2012-06-25    0.033869
2012-06-26    0.033869
2012-06-27    0.319417
Freq: B, dtype: float64

In [25]:
dates = pd.DatetimeIndex(['2012-6-12','2012-6-17','2012-6-18','2012-6-21','2012-6-22','2012-6-29'])
ts2 = Series(np.random.randn(6),index=dates)
ts2

2012-06-12   -0.424680
2012-06-17   -1.953922
2012-06-18   -1.395956
2012-06-21    0.733669
2012-06-22   -0.332718
2012-06-29    0.369660
dtype: float64

In [28]:
#如果要将ts1和ts2相加 可以使用resample
ts3 = ts1.resample('B').ffill()+ts2.resample('B').ffill()
ts3
#这样自然是可以的

2012-06-12         NaN
2012-06-13   -0.551732
2012-06-14   -0.551732
2012-06-15   -0.551732
2012-06-18   -1.523008
2012-06-19   -1.523008
2012-06-20   -1.362086
2012-06-21    0.767539
2012-06-22   -0.298849
2012-06-25   -0.298849
2012-06-26   -0.298849
2012-06-27   -0.013301
2012-06-28         NaN
2012-06-29         NaN
Freq: B, dtype: float64

In [29]:
#但是如果要保证保留ts2的索引 就需要用到reindex
ts3.reindex(ts2.index)

2012-06-12         NaN
2012-06-17         NaN
2012-06-18   -1.523008
2012-06-21    0.767539
2012-06-22   -0.298849
2012-06-29         NaN
dtype: float64

In [30]:
ts1.reindex(ts2.index,method='ffill')

2012-06-12         NaN
2012-06-17   -0.127052
2012-06-18   -0.127052
2012-06-21    0.033869
2012-06-22    0.033869
2012-06-29    0.319417
dtype: float64

In [31]:
ts2+ts1.reindex(ts2.index,method='ffill')
#都是合理的

2012-06-12         NaN
2012-06-17   -2.080974
2012-06-18   -1.523008
2012-06-21    0.767539
2012-06-22   -0.298849
2012-06-29    0.689077
dtype: float64

In [32]:
#对于不同的freq的对齐 asfreq
gdp = Series([1.78,1.95,3.53,3.22,2.43,2.53,5.43],index=pd.date_range('1984Q2',periods=7,freq='Q-SEP'))
gdp
#Q是按照季度来的

1984-06-30    1.78
1984-09-30    1.95
1984-12-31    3.53
1985-03-31    3.22
1985-06-30    2.43
1985-09-30    2.53
1985-12-31    5.43
Freq: Q-SEP, dtype: float64

In [33]:
infl = Series([0.025,0.034,0.053,0.04],index=pd.date_range('1982',periods=4,freq='A-DEC'))
infl
#这是按照年来的

1982-12-31    0.025
1983-12-31    0.034
1984-12-31    0.053
1985-12-31    0.040
Freq: A-DEC, dtype: float64

In [43]:
#如果要对齐二者可以使用asfreq
infl_q = infl.asfreq('Q-SEP',how='end')
infl_q

1982-12-31    0.025
1983-03-31      NaN
1983-06-30      NaN
1983-09-30      NaN
1983-12-31    0.034
1984-03-31      NaN
1984-06-30      NaN
1984-09-30      NaN
1984-12-31    0.053
1985-03-31      NaN
1985-06-30      NaN
1985-09-30      NaN
1985-12-31    0.040
Freq: Q-SEP, dtype: float64

In [46]:
infl_q.reindex(gdp.index).bfill()

1984-06-30    0.053
1984-09-30    0.053
1984-12-31    0.053
1985-03-31    0.040
1985-06-30    0.040
1985-09-30    0.040
1985-12-31    0.040
Freq: Q-SEP, dtype: float64

In [54]:
rng = pd.date_range('2012-06-01 09:30','2012-06-01 15:59',freq='T')
rng = rng.append([rng+pd.offsets.BDay(i) for i in range(1,4)])
rng

DatetimeIndex(['2012-06-01 09:30:00', '2012-06-01 09:31:00',
               '2012-06-01 09:32:00', '2012-06-01 09:33:00',
               '2012-06-01 09:34:00', '2012-06-01 09:35:00',
               '2012-06-01 09:36:00', '2012-06-01 09:37:00',
               '2012-06-01 09:38:00', '2012-06-01 09:39:00',
               ...
               '2012-06-06 15:50:00', '2012-06-06 15:51:00',
               '2012-06-06 15:52:00', '2012-06-06 15:53:00',
               '2012-06-06 15:54:00', '2012-06-06 15:55:00',
               '2012-06-06 15:56:00', '2012-06-06 15:57:00',
               '2012-06-06 15:58:00', '2012-06-06 15:59:00'],
              dtype='datetime64[ns]', length=1560, freq=None)

In [55]:
ts = Series(np.arange(len(rng),dtype=float),index=rng)
ts

2012-06-01 09:30:00       0.0
2012-06-01 09:31:00       1.0
2012-06-01 09:32:00       2.0
2012-06-01 09:33:00       3.0
2012-06-01 09:34:00       4.0
                        ...
2012-06-06 15:55:00    1555.0
2012-06-06 15:56:00    1556.0
2012-06-06 15:57:00    1557.0
2012-06-06 15:58:00    1558.0
2012-06-06 15:59:00    1559.0
Length: 1560, dtype: float64

In [56]:
from datetime import time
ts[time(10,0)]
#通过使用datetime.time作为索引就可以取出特定时间点上的值

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [57]:
ts.at_time(time(10,0))
#实际上是使用了at_time方法

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [58]:

ts.between_time(time(10,0),time(10,1))
#都是闭区间

2012-06-01 10:00:00      30.0
2012-06-01 10:01:00      31.0
2012-06-04 10:00:00     420.0
2012-06-04 10:01:00     421.0
2012-06-05 10:00:00     810.0
2012-06-05 10:01:00     811.0
2012-06-06 10:00:00    1200.0
2012-06-06 10:01:00    1201.0
dtype: float64

In [61]:
indexer = np.sort(np.random.permutation(len(ts))[700:])
irr_ts = ts.copy()
irr_ts[indexer] = np.nan
irr_ts['2012-06-01 09:50':'2012-06-01 10:00']
#随机将一部分值变为nan

2012-06-01 09:50:00     NaN
2012-06-01 09:51:00     NaN
2012-06-01 09:52:00     NaN
2012-06-01 09:53:00     NaN
2012-06-01 09:54:00     NaN
2012-06-01 09:55:00     NaN
2012-06-01 09:56:00    26.0
2012-06-01 09:57:00    27.0
2012-06-01 09:58:00    28.0
2012-06-01 09:59:00    29.0
2012-06-01 10:00:00     NaN
dtype: float64

In [62]:
#当前情况就是 如果很多数据恰好没有落在需要的点上 应该如何处理 可以使用asof方法
selection = pd.date_range('2012-06-01 10:00',periods=4,freq='B')
irr_ts.asof(selection)
#asof会得到这些时间处 或者距离最近的有效值 6.1 10:00的就变成了29.0

2012-06-01 10:00:00      29.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
Freq: B, dtype: float64

In [64]:
#在一个特定的时间点上，从一个数据源切换到另一个数据源 使用concat就行
#merge是连接 笛卡尔积 数据库风格
#concat是拼接 无需交集
data1 = DataFrame(np.ones((6,3),dtype=float),
                  columns=['a','b','c'],
                  index=pd.date_range('6/12/2012',periods=6))
data2 = DataFrame(np.ones((6,3),dtype=float)*2,
                  columns=['a','b','c'],
                  index=pd.date_range('6/13/2012',periods=6))
spliced = pd.concat([data1.loc[:'2012-06-14'],data2.loc['2012-06-15':]])
spliced

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-15  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0

In [66]:
#假设A有一部分没有 B在那部分有数据 但是选择了A拼接 可以使用combine_first进行处理
data2 = DataFrame(np.ones((6,4),dtype=float)*2,
                  columns=['a','b','c','d'],
                  index=pd.date_range('6/13/2012',periods=6))
spliced = pd.concat([data1.loc[:'2012-06-14'],data2.loc['2012-06-15':]])
spliced
#可以看到在前面部分data1是NaN 但是其实这部分数据在Data2中是有的

In [67]:
#如果要默认继续填上data2的数据
spliced_filled = spliced.combine_first(data2)
spliced_filled

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [70]:
#还有一个类似的update方法
spliced.update(data2,overwrite=False)
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [71]:
import pandas_datareader as web
price = web.get_data_yahoo('AAPL','2011-01-01','2012-07-27')['Adj Close']
price

Date
2010-12-31     9.922909
2011-01-03    10.138556
2011-01-04    10.191467
2011-01-05    10.274836
2011-01-06    10.266529
                ...
2012-07-23    18.575605
2012-07-24    18.486088
2012-07-25    17.687792
2012-07-26    17.685022
2012-07-27    18.001268
Name: Adj Close, Length: 397, dtype: float64

In [72]:
#计算累计收益
price['2011-10-03']/price['2011-03-01']-1

0.07240017021948808

In [73]:
returns = price.pct_change()
returns
#为什么会提供这种函数啊 injustice

Date
2010-12-31         NaN
2011-01-03    0.021732
2011-01-04    0.005219
2011-01-05    0.008180
2011-01-06   -0.000808
                ...
2012-07-23   -0.000778
2012-07-24   -0.004819
2012-07-25   -0.043184
2012-07-26   -0.000157
2012-07-27    0.017882
Name: Adj Close, Length: 397, dtype: float64

In [75]:
ret_index = (1+returns).cumprod()
#收益系数函数...........这...
ret_index

Date
2010-12-31         NaN
2011-01-03    1.021732
2011-01-04    1.027064
2011-01-05    1.035466
2011-01-06    1.034629
                ...
2012-07-23    1.871992
2012-07-24    1.862971
2012-07-25    1.782521
2012-07-26    1.782242
2012-07-27    1.814112
Name: Adj Close, Length: 397, dtype: float64

In [77]:
ret_index[0]=1
ret_index

Date
2010-12-31    1.000000
2011-01-03    1.021732
2011-01-04    1.027064
2011-01-05    1.035466
2011-01-06    1.034629
                ...
2012-07-23    1.871992
2012-07-24    1.862971
2012-07-25    1.782521
2012-07-26    1.782242
2012-07-27    1.814112
Name: Adj Close, Length: 397, dtype: float64

In [81]:
m_returns = ret_index.resample('BM').last().pct_change()
m_returns

Date
2010-12-31         NaN
2011-01-31    0.051959
2011-02-28    0.040935
2011-03-31   -0.013307
2011-04-29    0.004649
2011-05-31   -0.006569
2011-06-30   -0.034959
2011-07-29    0.163285
2011-08-31   -0.014469
2011-09-30   -0.009121
2011-10-31    0.061523
2011-11-30   -0.055784
2011-12-30    0.059655
2012-01-31    0.127111
2012-02-29    0.188311
2012-03-30    0.105283
2012-04-30   -0.025970
2012-05-31   -0.010702
2012-06-29    0.010853
2012-07-31    0.001986
Freq: BM, Name: Adj Close, dtype: float64