In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
import random;random.seed(0)
import string

N = 1000
def rands(n):
    choices = string.ascii_uppercase
    return ''.join([random.choice(choices) for _ in range(n)])
tickers = np.array([rands(5) for _ in range(N)])
#生成了1000个股票代码

In [4]:
M = 500
df = DataFrame({'Momentum':np.random.randn(M)/200+0.03,
                'Value':np.random.randn(M)/200 + 0.08,
                'ShortInterest':np.random.randn(M)/200 - 0.02},
               index=tickers[:M])
df

       Momentum     Value  ShortInterest
MYNBI  0.040798  0.068616      -0.009571
QPMZJ  0.032002  0.074741      -0.026487
PLSGQ  0.025549  0.082999      -0.019458
EJEYD  0.022874  0.076285      -0.010060
TZIRW  0.033326  0.089083      -0.017111
...         ...       ...            ...
JPHKQ  0.028812  0.071238      -0.029125
VACPK  0.031778  0.074782      -0.019415
MHNBS  0.028709  0.083447      -0.021417
YBNCI  0.036305  0.085010      -0.010984
GXKFD  0.031352  0.086497      -0.028347

[500 rows x 3 columns]

In [7]:

ind_names = np.array(['FINANCIAL','TECH'])
sampler = np.random.randint(0,len(ind_names),N)
industries = Series(ind_names[sampler],index=tickers,
                    name='industry')
#分成两个行业分类

In [8]:
by_industry = df.groupby(industries)
#还是经典的groupby方法用参数给index重定义之后进行groupby
by_industry.size()

industry
FINANCIAL    259
TECH         241
dtype: int64

In [9]:
#行业内标准化处理
def zscore(group):
    return (group-group.mean())/group.std()
df_stand = by_industry.apply(zscore)
df_stand

       Momentum     Value  ShortInterest
MYNBI  2.234447 -2.375780       2.301695
QPMZJ  0.370302 -0.980358      -1.289511
PLSGQ -0.970205  0.589494       0.148263
EJEYD -1.532244 -0.794692       2.195249
TZIRW  0.664240  1.843927       0.659563
...         ...       ...            ...
JPHKQ -0.255310 -1.685479      -1.797360
VACPK  0.326267 -0.972038       0.071972
MHNBS -0.275516  0.772193      -0.313523
YBNCI  1.213965  1.086921       1.694913
GXKFD  0.242698  1.386308      -1.647583

[500 rows x 3 columns]

In [10]:
df_stand.groupby(industries).agg(['mean','std'])
#结果论可以看到是成功的标准化处理

               Momentum              Value      ShortInterest
                   mean  std          mean  std          mean  std
industry
FINANCIAL  6.502735e-16  1.0  2.983456e-16  1.0 -1.565940e-15  1.0
TECH      -4.120263e-15  1.0 -1.719233e-15  1.0 -1.762537e-15  1.0

In [11]:
ind_rank = by_industry.rank(ascending=False)
ind_rank.groupby(industries).agg(['min','max'])

          Momentum        Value        ShortInterest
               min    max   min    max           min    max
industry
FINANCIAL      1.0  259.0   1.0  259.0           1.0  259.0
TECH           1.0  241.0   1.0  241.0           1.0  241.0

In [ ]:
#后面的部分都是有很强的金融知识背景 并非我学此书之初衷 也无精力去了解 就略过了